<e-popup :idRoot="idRoot" :styleFrom="styleFrom">
    <template v-slot:title>
        <p>MISA eShop</p>
    </template>

    <template v-slot:window-button>
        <div class="icon height-fill d-flex-vcenter" @click="onCloseClick">
            <div class="i-close"></div>
        </div>
    </template>

    <template v-slot:content-detail>
        <div class="bg-describe-notify d-flex" v-if="propView">
            <div class="d-flex-vcenter" v-if="propView.icon">
                <div :class="`i-notification-`+propView.icon"></div>
            </div>
            <div class="text-describe-notify flex-1 d-flex-vcenter">
                <p class="no-pad-mar" v-if="propView.message">{{propView.message}}</p>
                <p class="no-pad-mar" v-if="propView.messageHTML" v-html="propView.messageHTML"></p>
            </div>

        </div>
    </template>

    <template v-slot:form-button>
        <div class="height-fill width-fill no-pad-mar d-flex" v-if="propView">
            <div v-if="propView && propView.toolBarItems && propView.toolBarItems.length > 0"
                class="icon-right flex-1 height-fill flex-h-end">
                <div v-for="item in propView.toolBarItems" :key="item.name" class="height-fill d-flex-vcenter">
                    <e-button class="btn-detail" :control="item.control" @click="onClickItem(item)"></e-button>
                </div>
            </div>
        </div>
        <div v-else class="height-fill width-fill no-pad-mar d-flex">
            <div class="text-header height-fill d-flex-vcenter">
                <e-button class="btn-detail" :control="btnOK" @click="onClickItem(item)"></e-button>
            </div>
        </div>
    </template>
</e-popup>