.icon {
    cursor: pointer;
    margin-left: 8px;
}

.btn-detail {
    height: 35px;
    margin-left: 8px;
}

.bg-describe-notify {
    min-height: 70px;
}

.text-describe-notify {
    margin-left: 8px;
}