<div class="heading-revenueExpenditure d-flex-center">
  <h1>BẢNG KÊ THU CHI</h1>
</div>
<div class="content-data-revenueExpenditure d-flex-vcenter">
  <div class="content-left flex-1 d-flex-vcenter ">
    <div class="ccb-item-data-revenueExpenditure">
      <e-combobox :control="cbbRevenueExpenditure" v-model="cbbRevenueExpenditure.value" />
    </div>
    <div class="item-data-revenueExpenditure">
      <e-date :control="dtBeginRequire" v-model="dtBeginRequire.value" />
    </div>
    <div class="item-data-revenueExpenditure">
      <e-date :control="dtEndRequire" v-model="dtEndRequire.value" />
    </div>
    <div class="btn-item-data-revenueExpenditure">
      <e-button :control="btnGetData" />
    </div>
  </div>
  <div class="content-right d-flex-vcenter">
    <div class="btn-item-data-revenueExpenditure">
      <e-button :control="btnPrintData" />
    </div>
    <div class="btn-item-data-revenueExpenditure">
      <e-button :control="btnExportData" />
    </div>
  </div>

</div>
<div class="height-fill width-fill">
  <div class="form-sales height-fill">
    <div class="table-list">
      <table class="flex-1">
        <thead>
          <tr>
            <th>Ngày chứng từ</th>
            <th>Số chứng từ</th>
            <th>Loại chứng từ</th>
            <th>Tiền thu</th>
            <th>Tiền chi</th>
            <th>Nhân viên Thu/Chi</th>
            <th>Diễn giải</th>
          </tr>
        </thead>
        <tbody>
          <tr v-if="lstRevenue?.length > 0" v-for="item in lstRevenue" :key="item.RevenueId">
            <td>
              {{item.DayRevenue}}
            </td>
            <td>
              {{item.NumberRevenue}}
            </td>
            <td>
              {{item.TypeRevenue}}
            </td>
            <td>
              {{item.ReceivedRevenue}}
            </td>
            <td>
              {{item.SpendingRevenue}}
            </td>
            <td>
              {{item.SalesRevenue}}
            </td>
            <td>
              {{item.NoteRevenue}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>