<div class="heading-stock">
  <div class="d-flex-center">
    <h1>SỐ LƯỢNG TỒN KHO THEO CỬA HÀNG</h1>
  </div>
  <!-- <div class="item-heading d-flex-center">
    <span>Cửa Hàng: </span>
    <strong>CH22</strong>
  </div>   -->
</div>


<div class="content-data-stock d-flex-vcenter">
  <div class="content-left flex-1 d-flex-vcenter ">
    <div class="ccb-item-data-stock">
      <e-combobox :control="cbbStock" v-model="cbbStock.value" />
    </div>
    <div class="item-data-stock">
      <e-date :control="dtBeginRequire" v-model="dtBeginRequire.value" />
    </div>
    <div class="item-data-stock">
      <e-date :control="dtEndRequire" v-model="dtEndRequire.value" />
    </div>
    <div class="btn-item-data-stock">
      <e-button :control="btnGetData" />
    </div>
  </div>
  <div class="content-right d-flex-vcenter">
    <div class="btn-item-data-stock">
      <e-button :control="btnPrintData" />
    </div>
    <div class="btn-item-data-stock">
      <e-button :control="btnExportData" />
    </div>
  </div>

</div>
<div class="height-fill width-fill">
  <div class="form-sales height-fill">
    <div class="table-list">
      <table class="flex-1">
        <thead>
          <tr>
            <th>Mã Hàng Hóa</th>
            <th>Tên Hàng Hóa</th>
            <th>Đơn Vị Tính</th>
            <th>Nhóm Hàng Hóa</th>
            <th>Giá Bán</th>
            <th>Số Lượng Tồn Kho</th>
          </tr>
        </thead>
        <tbody>
          <!-- v-if="lstBill?.length > 0" v-for="item in lstBill" :key="item.BillId" -->
          <tr>
            <td>
              <!-- {{item.DateBill}} -->
            </td>
            <td>
              <!-- {{item.NumberBill}} -->
            </td>
            <td>
              <!-- {{item.collectedMoney}} -->
            </td>
            <td>
              <!-- {{item.TotalMoneyBill}} -->
            </td>
            <td>
              <!-- {{item.numVoucherTotalPrice}} -->
            </td>
            <td>
              <!-- {{item.SalesAgent}} -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>