<base-dictionary-detail-view :idRoot="idRoot" :propView="propView" :styleFrom="`width: 1000px;`"
  @toolbarClick="onSelectAction" @closeFormClick="onCloseForm">
  <template v-slot:content-detail>
    <div class="content-form-inward d-flex">
      <div class="form-inward-detail-left flex-1">
        <span class="heading-inward-info">THÔNG TIN CHUNG</span>
        <div class="qlch-input-default item-detail">
          <e-combobox @dataChange="ShowNameInward" :control="bindingControl[`txtObjectInward`]"
            v-model="masterData[bindingControl[`txtObjectInward`].bindingIndex]"></e-combobox>
        </div>
        <div class="qlch-input-default item-detail">
          <e-text-box :control="bindingControl[`txtNameObjectInward`]"
            v-model="masterData[bindingControl[`txtNameObjectInward`].bindingIndex]"></e-text-box>
        </div>
        <div class="qlch-input-default item-detail">
          <e-text-box :control="bindingControl[`txtDeliverInward`]"
            v-model="masterData[bindingControl[`txtDeliverInward`].bindingIndex]"></e-text-box>
        </div>
        <div class="qlch-input-default item-detail">
          <e-text-box :control="bindingControl[`txtExplantInward`]"
            v-model="masterData[bindingControl[`txtExplantInward`].bindingIndex]"></e-text-box>
        </div>
      </div>
      <div class="form-inward-detail-right">
        <span class="heading-inward-info">CHỨNG TỪ</span>
        <div class="qlch-input-default item-detail">
          <e-text-box :control="bindingControl[`txtVotesInward`]"
            v-model="masterData[bindingControl[`txtVotesInward`].bindingIndex]"></e-text-box>
        </div>
        <div class="qlch-input-default item-detail">
          <e-date :control="bindingControl[`txtDayInward`]"
            v-model="masterData[bindingControl[`txtDayInward`].bindingIndex]"></e-date>
        </div>
      </div>
    </div>
    <div class="grid-footer">
      <div class="d-flex">
        <div class="grid-footer-item flex-1">
          <span class="heading-inward-info">CHI TIẾT</span>
        </div>
      </div>
      <div class="grid-GoodsInward">
        <table class="flex-1">
          <thead>
            <tr>
              <th>Mã Hàng Hóa</th>
              <th>Tên Hàng Hóa</th>
              <th>Kho</th>
              <th>Đơn vị tính</th>
              <th>Số lượng</th>
              <th>Đơn giá</th>
              <th>Thành tiền</th>
              <th>
                <e-button :control="btnAddListTable" @click="AddListTable()" />
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-if="lstInwardDetail?.length > 0" v-for="item in lstInwardDetail" :key="item.CashReceiptDetailId">
              <td>
                <e-combobox @dataChange="ShowNameProduct($event, item)" :control="txtCodeProductInward"
                  v-model="item.CodeProductInward"></e-combobox>
              </td>
              <td>
                <e-text-box :control="txtNameProductInward" v-model="item.NameProductInward"></e-text-box>
              </td>
              <td>
                <e-combobox :control="txtWarehouseProductInward" v-model="item.WarehouseProductInward"></e-combobox>
              </td>
              <td>
                <e-text-box :control="txtUnitProductInward" v-model="item.UnitProductInward"></e-text-box>
              </td>
              <td>
                <e-number @blur="ShowPaymentInward($event, item)" :control="txtNumberProductInward"
                  v-model="item.NumberProductInward"></e-number>
              </td>
              <td>
                <e-number :control="txtUnitPriceInward" v-model="item.UnitPriceInward"></e-number>
              </td>
              <td>
                <e-number :control="txtPaymentInward" v-model="item.PaymentInward"></e-number>
              </td>
              <td>
                <e-button :control="btnDelListTable" @click="DelListTable(item)" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="synthetic-footer d-flex-vcenter d-flex-sp-center">
      <div class="main-synthetic d-flex-vcenter">
        <e-number :control="bindingControl[`txtTotalInward`]"
          v-model="masterData[bindingControl[`txtTotalInward`].bindingIndex]"></e-number>
      </div>
      <div class="main-synthetic d-flex-vcenter">
        <e-number :control="bindingControl[`txtTotalMoneyInward`]"
          v-model="masterData[bindingControl[`txtTotalMoneyInward`].bindingIndex]"></e-number>
      </div>
    </div>


  </template>
</base-dictionary-detail-view>