<div class="content-data-outward d-flex-vcenter">
  <div class="content-left flex-1 d-flex-vcenter ">
    <div class="ccb-item-data-outward">
      <e-combobox :control="cbbOutward" v-model="cbbOutward.value" />
    </div>
    <div class="item-data-outward">
      <e-date :control="dtBeginRequire" v-model="dtBeginRequire.value" />
    </div>
    <div class="item-data-outward">
      <e-date :control="dtEndRequire" v-model="dtEndRequire.value" />
    </div>
    <div class="btn-item-data-outward">
      <e-button :control="btnGetData" />
    </div>
  </div>
  <div class="btn-item-data-outward">
    <e-button :control="btnPrintData" />
  </div>
</div>
<div class="height-fill width-fill">
  <base-dictionary-list-view :viewControl="viewControl" @loadMaster="onLoadMaster"
    @changeSelectedRecordMaster="onChangeSelectedRecordMaster"
    @toolbarClick="onSelectAction"></base-dictionary-list-view>
</div>