.navbar-import {
  height: 35px;
  background-color: #F6F6F6;

}

.navbar-item {
  padding: 0 10px;
  font-size: 14px;
  font-weight: 600;

}

.navbar-item:hover {
  cursor: pointer;
  background-color: #E5E6EB;
}

.line-navbar {
  width: 2px;
  background-color: grey;
}

.item-detail {
  margin-bottom: 8px;
}

.item-detail:first-child {
  margin-top: 24px;
}

.selected {
  background-color: #E5E6EB;


}

.item-detail:last-child {
  margin-bottom: 24px;
}

.heading-import-info {
  font-size: 15px;
  font-weight: 600;
  color: #757575;
  display: block;
  padding: 0 0 10px 0;
}

.content-form-import {
  overflow-y: scroll;
  height: 170px;
}

.form-import-detail-left,
.form-import-detail-right {
  margin: 15px 15px;
  padding: 0 0 10px 0;
}

.grid-footer {
  height: 160px;
  // margin-top: 15px;
}

.heading-import-info {
  font-size: 15px;
  font-weight: 600;
  color: #757575;
  display: block;
  padding: 0 0 10px 0;
}

.synthetic-footer {
  margin: 50px 0 0px 0;
  background-color: #EFF0F3;
}

.main-synthetic {
  height: 35px;
  margin-right: 20px;
  font-size: 14px;
  font-weight: 600;


}

.main-synthetic span {
  font-size: 14px;
  font-weight: 600;
}

.grid-GoodsImport {
  height: 150px;
  border: 1px solid #F0F0F0;
  overflow: scroll;
}

table {
  border-collapse: collapse;
}

table,
thead,
tr,
th {
  border-right: 1px solid #D0D0D0;
}

tbody,
tr,
td {
  min-width: 150px
}

thead,
tr,
th {
  background-color: #F0F0F0;
  padding: 10px 10px;
  text-align: center;

}