<base-dictionary-detail-view :idRoot="idRoot" :propView="propView" :styleFrom="`width: 1000px;`"
  @toolbarClick="onSelectAction" @closeFormClick="onCloseForm">
  <template v-slot:content-detail>
    <div class="navbar-import d-flex-vcenter width-fill ">
      <span class="navbar-item height-fill d-flex-vcenter" :class="{ 'selected': navbar1Selected }"
        @click="showImport()">Phiếu Nhập</span>
      <span class="line-navbar height-fill"></span>
      <span class="navbar-item height-fill d-flex-vcenter" :class="{ 'selected': navbar2Selected }"
        @click="showExport()">Phiếu Chi</span>
    </div>
    <div v-if="disableFormImport">
      <div class="content-form-import d-flex">
        <div class="form-import-detail-left flex-1">
          <span class="heading-import-info">THÔNG TIN CHUNG</span>
          <div class="qlch-input-default item-detail">
            <e-combobox :control="bindingControl[`txtSupplierImport`]"
              v-model="masterData[bindingControl[`txtSupplierImport`].bindingIndex]"></e-combobox>
          </div>
          <div class="qlch-input-default item-detail">
            <e-text-box :control="bindingControl[`txtSupplierNameImport`]"
              v-model="masterData[bindingControl[`txtSupplierNameImport`].bindingIndex]"></e-text-box>
          </div>
          <div class="qlch-input-default item-detail">
            <e-text-box :control="bindingControl[`txtDeliverImport`]"
              v-model="masterData[bindingControl[`txtDeliverImport`].bindingIndex]"></e-text-box>
          </div>
          <div class="qlch-input-default item-detail">
            <e-text-box :control="bindingControl[`txtExplainImport`]"
              v-model="masterData[bindingControl[`txtExplainImport`].bindingIndex]"></e-text-box>
          </div>
          <div class="qlch-input-default item-detail">
            <e-combobox :control="bindingControl[`txtStaffImport`]"
              v-model="masterData[bindingControl[`txtStaffImport`].bindingIndex]"></e-combobox>
          </div>
          <div class="qlch-input-default item-detail">
            <e-text-box :control="bindingControl[`txtStaffNameImport`]"
              v-model="masterData[bindingControl[`txtStaffNameImport`].bindingIndex]"></e-text-box>
          </div>
        </div>

        <div class="form-import-detail-right">
          <span class="heading-import-info">CHỨNG TỪ</span>
          <div class="qlch-input-default item-detail">
            <e-text-box :control="bindingControl[`txtReceiptNumberImport`]"
              v-model="masterData[bindingControl[`txtReceiptNumberImport`].bindingIndex]"></e-text-box>
          </div>
          <div class="qlch-input-default item-detail">
            <e-date :control="bindingControl[`txtDateImport`]"
              v-model="masterData[bindingControl[`txtDateImport`].bindingIndex]"></e-date>
          </div>

        </div>
      </div>
      <div class="grid-footer">
        <span class="heading-import-info">Chi tiết</span>
        <div class="grid-GoodsImport">
          <table class="flex-1">
            <thead>
              <tr>
                <th>Mã Hàng Hóa</th>
                <th>Tên Hàng Hóa</th>
                <th>Kho</th>
                <th>Đơn vị tính</th>
                <th>Số lượng</th>
                <th>Đơn giá</th>
                <th>Thành tiền</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <e-text-box :control="bindingControl[`txtCodeProductImport`]"
                    v-model="masterData[bindingControl[`txtCodeProductImport`].bindingIndex]"></e-text-box>
                </td>

                <td>
                  <e-text-box :control="bindingControl[`txtNameProductImport`]"
                    v-model="masterData[bindingControl[`txtNameProductImport`].bindingIndex]"></e-text-box>
                </td>
                <td>
                  <e-combobox :control="bindingControl[`txtWarehouseProductImport`]"
                    v-model="masterData[bindingControl[`txtWarehouseProductImport`].bindingIndex]"></e-combobox>
                </td>
                <td>
                  <e-combobox :control="bindingControl[`txtUnitProductImport`]"
                    v-model="masterData[bindingControl[`txtUnitProductImport`].bindingIndex]"></e-combobox>
                </td>
                <td>
                  <e-text-box :control="bindingControl[`txtNumberProductImport`]"
                    v-model="masterData[bindingControl[`txtNumberProductImport`].bindingIndex]"></e-text-box>
                </td>
                <td>
                  <e-number :control="bindingControl[`txtUnitPriceImport`]"
                    v-model="masterData[bindingControl[`txtUnitPriceImport`].bindingIndex]"></e-number>
                </td>
                <td>
                  <e-number :control="bindingControl[`txtPaymentImport`]"
                    v-model="masterData[bindingControl[`txtPaymentImport`].bindingIndex]"></e-number>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="synthetic-footer d-flex-vcenter">
        <div class="main-synthetic d-flex-vcenter">
          <e-number :control="bindingControl[`txtTotalImport`]"
            v-model="masterData[bindingControl[`txtTotalImport`].bindingIndex]"></e-number>
        </div>
        <div class="main-synthetic d-flex-vcenter">
          <e-number :control="bindingControl[`txtIntoMoneyImport`]"
            v-model="masterData[bindingControl[`txtIntoMoneyImport`].bindingIndex]"></e-number>
        </div>
        <div class="main-synthetic d-flex-vcenter">
          <e-number :control="bindingControl[`txtTotalPaymentImport`]"
            v-model="masterData[bindingControl[`txtTotalPaymentImport`].bindingIndex]"></e-number>
        </div>

      </div>
    </div>
    <div v-if="disableFormPayment">
      <div class="content-form-import d-flex">
        <div class="form-import-detail-left flex-1">
          <span class="heading-import-info">THÔNG TIN CHUNG</span>
          <div class="qlch-input-default item-detail">
            <e-combobox :control="bindingControl[`txtSupplierImport`]"
              v-model="masterData[bindingControl[`txtSupplierImport`].bindingIndex]"></e-combobox>
          </div>
          <div class="qlch-input-default item-detail">
            <e-text-box :control="bindingControl[`txtSupplierNameImport`]"
              v-model="masterData[bindingControl[`txtSupplierNameImport`].bindingIndex]"></e-text-box>
          </div>
          <div class="qlch-input-default item-detail">
            <e-text-box :control="bindingControl[`txtReceiverImport`]"
              v-model="masterData[bindingControl[`txtReceiverImport`].bindingIndex]"></e-text-box>
          </div>
          <div class="qlch-input-default item-detail">
            <e-text-box :control="bindingControl[`txtAddressImport`]"
              v-model="masterData[bindingControl[`txtAddressImport`].bindingIndex]"></e-text-box>
          </div>
          <div class="qlch-input-default item-detail">
            <e-text-box :control="bindingControl[`txtReasonImport`]"
              v-model="masterData[bindingControl[`txtReasonImport`].bindingIndex]"></e-text-box>
          </div>
        </div>

        <div class="form-import-detail-right">
          <span class="heading-import-info">CHỨNG TỪ</span>
          <div class="qlch-input-default item-detail">
            <e-text-box :control="bindingControl[`txtVotesImport`]"
              v-model="masterData[bindingControl[`txtVotesImport`].bindingIndex]"></e-text-box>
          </div>
          <div class="qlch-input-default item-detail">
            <e-date :control="bindingControl[`txtVotesDateImport`]"
              v-model="masterData[bindingControl[`txtVotesDateImport`].bindingIndex]"></e-date>
          </div>

        </div>
      </div>
      <div class="grid-footer">
        <span class="heading-import-info">Chi tiết</span>
        <div class="grid-GoodsImport">
          <table class="flex-1">
            <thead>
              <tr>
                <th>Mã Hàng Hóa</th>
                <th>Tên Hàng Hóa</th>
                <th>Kho</th>
                <th>Đơn vị tính</th>
                <th>Số lượng</th>
                <th>Đơn giá</th>
                <th>Thành tiền</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <e-text-box :control="bindingControl[`txtCodeProductImport`]"
                    v-model="masterData[bindingControl[`txtCodeProductImport`].bindingIndex]"></e-text-box>
                </td>

                <td>
                  <e-text-box :control="bindingControl[`txtNameProductImport`]"
                    v-model="masterData[bindingControl[`txtNameProductImport`].bindingIndex]"></e-text-box>
                </td>
                <td>
                  <e-combobox :control="bindingControl[`txtWarehouseProductImport`]"
                    v-model="masterData[bindingControl[`txtWarehouseProductImport`].bindingIndex]"></e-combobox>
                </td>
                <td>
                  <e-combobox :control="bindingControl[`txtUnitProductImport`]"
                    v-model="masterData[bindingControl[`txtUnitProductImport`].bindingIndex]"></e-combobox>
                </td>
                <td>
                  <e-text-box :control="bindingControl[`txtNumberProductImport`]"
                    v-model="masterData[bindingControl[`txtNumberProductImport`].bindingIndex]"></e-text-box>
                </td>
                <td>
                  <e-number :control="bindingControl[`txtUnitPriceImport`]"
                    v-model="masterData[bindingControl[`txtUnitPriceImport`].bindingIndex]"></e-number>
                </td>
                <td>
                  <e-number :control="bindingControl[`txtPaymentImport`]"
                    v-model="masterData[bindingControl[`txtPaymentImport`].bindingIndex]"></e-number>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="synthetic-footer d-flex-vcenter">
        <div class="main-synthetic d-flex-vcenter">
          <e-number :control="bindingControl[`txtTotalImport`]"
            v-model="masterData[bindingControl[`txtTotalImport`].bindingIndex]"></e-number>
        </div>
        <div class="main-synthetic d-flex-vcenter">
          <e-number :control="bindingControl[`txtIntoMoneyImport`]"
            v-model="masterData[bindingControl[`txtIntoMoneyImport`].bindingIndex]"></e-number>
        </div>
        <div class="main-synthetic d-flex-vcenter">
          <e-number :control="bindingControl[`txtTotalPaymentImport`]"
            v-model="masterData[bindingControl[`txtTotalPaymentImport`].bindingIndex]"></e-number>
        </div>

      </div>
    </div>

  </template>
</base-dictionary-detail-view>