<base-dictionary-detail-view :idRoot="idRoot" :propView="propView" :styleFrom="`width: 1000px;`"
  @toolbarClick="onSelectAction" @closeFormClick="onCloseForm">
  <template v-slot:content-detail>
    <div class="content-form-inventory d-flex">
      <div class="form-inventory-detail-left flex-1">
        <span class="heading-inventory-info">THÔNG TIN CHUNG</span>

        <div class="qlch-input-default item-detail">
          <e-text-box :control="bindingControl[`txtExplantInventory`]"
            v-model="masterData[bindingControl[`txtExplantInventory`].bindingIndex]"></e-text-box>
        </div>
        <div class="qlch-input-default item-detail">
          <e-combobox :control="bindingControl[`txtWarehouseInventory`]"
            v-model="masterData[bindingControl[`txtWarehouseInventory`].bindingIndex]"></e-combobox>
        </div>
      </div>
      <div class="form-inventory-detail-right">
        <span class="heading-inventory-info">CHỨNG TỪ</span>

        <div class="qlch-input-default item-detail">
          <e-date :control="bindingControl[`txtDateInventory`]"
            v-model="masterData[bindingControl[`txtDateInventory`].bindingIndex]"></e-date>
        </div>
        <div class="qlch-input-default item-detail">
          <e-text-box :control="bindingControl[`txtVotesInventory`]"
            v-model="masterData[bindingControl[`txtVotesInventory`].bindingIndex]"></e-text-box>
        </div>


      </div>
    </div>
    <div class="grid-footer">
      <div class="d-flex">
        <div class="grid-footer-item flex-1">
          <span class="heading-inventory-info">Chi tiết</span>
        </div>
      </div>
      <div class="grid-GoodsInventory">
        <table class="flex-1">
          <thead>
            <tr>
              <th>Mã Hàng Hóa</th>
              <th>Tên Hàng Hóa</th>
              <th>Đơn vị tính</th>
              <th>Theo sổ</th>
              <th>Kiểm kê</th>
              <th>Chênh lệch</th>
              <th>Nguyên nhân</th>
              <th>Xử lý</th>
              <th>
                <e-button :control="btnAddListTable" @click="AddListTable()" />
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-if="lstInventoryDetail?.length > 0" v-for="item in lstInventoryDetail" :key="item.InventoryDetailId">
              <td>
                <e-combobox :control="txtCodeProductInventory" v-model="item.CodeProductInventory"></e-combobox>
              </td>
              <td>
                <e-text-box :control="txtNameProductInventory" v-model="item.NameProductInventory"></e-text-box>
              </td>
              <td>
                <e-combobox :control="txtUnitProductInventory" v-model="item.UnitProductInventory"></e-combobox>
              </td>
              <td>
                <e-number :control="txtBeginInventory" v-model="item.BeginInventory"></e-number>
              </td>
              <td>
                <e-number :control="txtUpdateInventory" v-model="item.UpdateInventory"></e-number>
              </td>
              <td>
                <e-number :control="txtEndInventory" v-model="item.EndInventory"></e-number>
              </td>
              <td>
                <e-text-box :control="txtReasonInventory" v-model="item.ReasonInventory"></e-text-box>
              </td>
              <td>
                <e-combobox :control="txtStatusInventory" v-model="item.StatusInventory"></e-combobox>
              </td>
              <td>
                <e-button :control="btnDelListTable" @click="DelListTable(item)" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="synthetic-footer d-flex-vcenter d-flex-sp-center">
      <div class="main-synthetic d-flex-vcenter">
        <e-number :control="bindingControl[`txtTotalBeginInventory`]"
          v-model="masterData[bindingControl[`txtTotalBeginInventory`].bindingIndex]"></e-number>
      </div>
      <div class="main-synthetic d-flex-vcenter">
        <e-number :control="bindingControl[`txtTotalUpdateInventory`]"
          v-model="masterData[bindingControl[`txtTotalUpdateInventory`].bindingIndex]"></e-number>
      </div>
      <div class="main-synthetic d-flex-vcenter">
        <e-number :control="bindingControl[`txtTotalEndInventory`]"
          v-model="masterData[bindingControl[`txtTotalEndInventory`].bindingIndex]"></e-number>
      </div>

    </div>

  </template>
</base-dictionary-detail-view>