<h3>1. Checkbox Default</h3>
<div class="d-flex">
    <div class="bg-control">
        <e-checkbox :control="cbkDefault" v-model="cbkDefault.value"></e-checkbox>
    </div>
</div>

<h3>2. Checkbox ReadOnly</h3>
<div class="d-flex">
    <div class="bg-control">
        <e-checkbox :control="cbkReadOnly" v-model="cbkReadOnly.value"></e-checkbox>
    </div>
</div>

<h3>2. Checkbox Loading</h3>
<div class="d-flex">
    <div class="bg-control">
        <e-checkbox :control="cbkLoading" v-model="cbkLoading.value"></e-checkbox>
    </div>
</div>