.icon {
    cursor: pointer;
}



// .header-popup {
//     height: 35px;
//     border-bottom: 1px solid #E0E0E0;
// }

.header-popup span {
    padding: 20px 15px;
    font-weight: 600;
    text-align: center
}

.content-popup span {
    padding: 10px 15px 5px 25px;
    font-weight: 600;
}