<div class="heading-sales d-flex-center">
  <h1>KẾT QUẢ DOANH THU</h1>
</div>
<div class="content-data-sales d-flex-vcenter">
  <div class=" flex-1 d-flex-vcenter ">
    <div class="ccb-item-data-sales">
      <e-combobox :control="cbbSales" v-model="cbbSales.value" />
    </div>
    <div class="item-data-sales">
      <e-date :control="dtBeginRequire" v-model="dtBeginRequire.value" />
    </div>
    <div class="item-data-sales">
      <e-date :control="dtEndRequire" v-model="dtEndRequire.value" />
    </div>
    <div class="btn-item-data-sales">
      <e-button :control="btnGetData" @click="GetDataProfit" />
    </div>
  </div>
  <div class="d-flex-vcenter">
    <div class="btn-item-data-sales">
      <e-button :control="btnPrintData" />
    </div>
    <div class="btn-item-data-sales">
      <e-button :control="btnExportData" />
    </div>
  </div>
</div>
<div class="height-fill width-fill">
  <div class="form-sales height-fill">
    <div class="table-list">
      <table class="flex-1">
        <thead>
          <tr>
            <th style="text-align: center;">Khoản Mục</th>
            <th style="text-align: center;">Kết Quả</th>

          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <strong>I. Doanh Thu (1 + 2)</strong>
            </td>
            <td style="text-align: right;">
              <strong>
                {{formatCurrency(TotalRevenue)}}
              </strong>
            </td>
          </tr>
          <tr>
            <td>
              <strong>
                1. Doanh Thu Bán Hàng
              </strong>
            </td>
            <td style="text-align: right;">
              {{formatCurrency(TotalSales)}}
            </td>
          </tr>
          <tr>
            <td>
              <strong>
                2. Thu Khác
              </strong>
            </td>
            <td style="text-align: right;">
              {{formatCurrency(TotalOtherRevenue)}}
            </td>
          </tr>
          <tr>
            <td>
              <strong>II.Chi Phí (1 + 2 )</strong>
            </td>
            <td style="text-align: right;">
              <strong>
                {{formatCurrency(TotalExpense)}}
              </strong>
            </td>
          </tr>
          <tr>
            <td>
              <strong>1. Chi Phí Giá Vốn</strong>
            </td>
            <td style="text-align: right;">
              {{formatCurrency(TotalCostPrice)}}
            </td>
          </tr>
          <tr>
            <td>
              <strong>2. Chi Khác</strong>
            </td>
            <td style="text-align: right;">
              {{formatCurrency(TotalOtherCosts)}}
            </td>
          </tr>
          <tr>
            <td>
              <strong>III. Lợi Nhuận ( I - II )</strong>
            </td>
            <td style="text-align: right;">
              <strong>
                {{formatCurrency(TotalProfit)}}
              </strong>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>