<base-dictionary-detail-view :idRoot="idRoot" :propView="propView" :styleFrom="`width: 500px;`"
  @toolbarClick="onSelectAction" @closeFormClick="onCloseForm">
  <template v-slot:content-detail>

    <div class="qlch-input-default item-detail">
      <e-text-box :control="bindingControl[`txtCodeAccount`]"
        v-model="masterData[bindingControl[`txtCodeAccount`].bindingIndex]"></e-text-box>
    </div>
    <div class="qlch-input-default item-detail">
      <e-text-box :control="bindingControl[`txtNameAccount`]"
        v-model="masterData[bindingControl[`txtNameAccount`].bindingIndex]"></e-text-box>
    </div>
    <div class="qlch-input-default item-detail">
      <e-text-box :control="bindingControl[`txtOwnerAccount`]"
        v-model="masterData[bindingControl[`txtOwnerAccount`].bindingIndex]"></e-text-box>
    </div>
    <div class="qlch-input-default item-detail">
      <e-text-box :control="bindingControl[`txtExplainAccount`]"
        v-model="masterData[bindingControl[`txtExplainAccount`].bindingIndex]"></e-text-box>
    </div>
    <div class="qlch-input-default item-detail">
      <e-combobox :control="bindingControl[`txtStatusAccount`]"
        v-model="masterData[bindingControl[`txtStatusAccount`].bindingIndex]"></e-combobox>
    </div>

  </template>
</base-dictionary-detail-view>