.heading-cashPayment {
    height: 50px;
    border-bottom: 1px solid #F0F0F0;
}

.heading-cashPayment h1 {
    font-size: 20px;
    color: #2b3173;
    font-weight: 300;
}

.content-data-cashPayment {
    height: 50px;

}

.item-data-cashPayment {
    width: 180px;
    z-index: 999;
    margin: 0 10px;
}

.ccb-item-data-cashPayment {
    width: 100px;
    z-index: 999;
    margin: 0 10px;
}

.btn-item-data-cashPayment {
    height: 35px;
    margin: 0 10px 0 0;
}