<base-dictionary-detail-view :idRoot="idRoot" :propView="propView" :styleFrom="`min-width: 500px;`"
  @toolbarClick="onSelectAction" @closeFormClick="onCloseForm">
  <template v-slot:content-detail>
    <div class="d-flex">
      <div class="form-outward-detail-left">
        <span class="heading-outward-info">THÔNG TIN CHUNG</span>
        <div class="qlch-input-default item-detail">
          <e-combobox :control="bindingControl[`txtColumn3`]"
            v-model="masterData[bindingControl[`txtColumn3`].bindingIndex]"></e-combobox>
        </div>
        <div class="qlch-input-default item-detail">
          <e-combobox :control="bindingControl[`txtColumn7`]"
            v-model="masterData[bindingControl[`txtColumn7`].bindingIndex]"></e-combobox>
        </div>
        <div class="qlch-input-default item-detail">
          <e-text-box :control="bindingControl[`txtColumn6`]"
            v-model="masterData[bindingControl[`txtColumn6`].bindingIndex]"></e-text-box>
        </div>
        <div class="qlch-input-default item-detail">
          <e-text-box :control="bindingControl[`txtColumn5`]"
            v-model="masterData[bindingControl[`txtColumn5`].bindingIndex]"></e-text-box>
        </div>
        <!-- <div class="qlch-input-default item-detail">
          <e-text-box :control="bindingControl[`txtColumn4`]"
            v-model="masterData[bindingControl[`txtColumn4`].bindingIndex]"></e-text-box>
        </div> -->

      </div>
      <div class="form-outward-detail-right">
        <span class="heading-outward-info">CHỨNG TỪ</span>
        <div class="qlch-input-default item-detail">
          <e-text-box :control="bindingControl[`txtColumn2`]"
            v-model="masterData[bindingControl[`txtColumn2`].bindingIndex]"></e-text-box>
        </div>
        <div class="qlch-input-default item-detail">
          <e-date :control="bindingControl[`txtColumn1`]"
            v-model="masterData[bindingControl[`txtColumn1`].bindingIndex]"></e-date>
        </div>

      </div>
    </div>
    <div class="footer-form-inward-detail">
      <span class="heading-outward-info">CHI TIẾT</span>
    </div>
  </template>
</base-dictionary-detail-view>