.heading-order {
    min-height: 50px;
    border-bottom: 1px solid #F0F0F0;
}

.heading-order h1 {
    font-size: 20px;
    color: #2b3173;
    font-weight: 300;
}

.content-data-order {
    height: 50px;
    padding: 0 5px;
}

.ccb-item-data-order {
    width: 100px;
    z-index: 999;
    margin: 0 10px;
}

.item-data-order {
    width: 180px;
    z-index: 999;
    margin: 0 10px;
}

.btn-item-data-order {
    height: 35px;
    margin: 0 10px 0 0;
}

.item-heading {
    font-size: 14px;
    margin: 0 10px 10px 10px;

}