<base-dictionary-detail-view :idRoot="idRoot" :propView="propView" :styleFrom="`width: 500px;`"
  @toolbarClick="onSelectAction" @closeFormClick="onCloseForm">
  <template v-slot:content-detail>

    <div class="qlch-input-default item-detail">
      <e-text-box :control="bindingControl[`txtCodeBranch`]"
        v-model="masterData[bindingControl[`txtCodeBranch`].bindingIndex]"></e-text-box>
    </div>
    <div class="qlch-input-default item-detail">
      <e-text-box :control="bindingControl[`txtNameBranch`]"
        v-model="masterData[bindingControl[`txtNameBranch`].bindingIndex]"></e-text-box>
    </div>
    <div class="qlch-input-default item-detail">
      <e-text-box :control="bindingControl[`txtAddressBranch`]"
        v-model="masterData[bindingControl[`txtAddressBranch`].bindingIndex]"></e-text-box>
    </div>
    <div class="qlch-input-default item-detail">
      <e-text-box :control="bindingControl[`txtPhoneBranch`]"
        v-model="masterData[bindingControl[`txtPhoneBranch`].bindingIndex]"></e-text-box>
    </div>
    <div class="qlch-input-default item-detail">
      <e-combobox :control="bindingControl[`txtStatusBranch`]"
        v-model="masterData[bindingControl[`txtStatusBranch`].bindingIndex]"></e-combobox>
    </div>
  </template>
</base-dictionary-detail-view>