.body-home {
    width: 100vw;
    height: 100vh;
    background-color: var(--subdued-background-color);
    position: relative;
}

.navbar {
    height: 60px;
    min-height: 60px;
    background-color: var(--background-color);
}

.bg-body {
    margin: 0px 8px 0 17px;

}

.main-content {
    background-color: var(--background-color);
}

.title {
    font-size: var(--font-size-title);
    color: var(--text-color);
    font-weight: 700;
    margin: 0 auto 0 24px;
}


//TNP

.link-branches-user {
    text-decoration: none;
    color: #636DDE;
}

.branch-menu {
    margin: 0 10px;
}

.user-manage:hover {
    cursor: pointer;
}

.img-user {
    background: url('https://misast.mshopkeeper.vn/backendg2/api/Image?id=&type=0&w=50&h=50&CompanyCode=misast') no-repeat center;
    width: 50px;
    height: 50px;
    background-size: 28px;
    margin-right: -2px;

}

.name-user {
    font-size: 13px;
    font-weight: 700;
    margin-right: 5px;
}

.icon-dropdown {
    background: url(../../../../common/MISA.QLCH.Library/src/assets/images/arrow-down-line.png) no-repeat center;
    width: 20px;
    height: 20px;

}

.support-app {
    margin-left: 10px;
}

.item-support {
    padding: 10px;
    border-left: 1px solid #E1E1E1;
}

.item-support:hover {
    cursor: pointer;
}

.icon-light {
    background: url('https://eshopvnappg2.misacdn.net/QLCH/resources/images/icon-light.svg') no-repeat center;
    width: 20px;
    height: 100%;
}

.icon-mess {
    background: url('https://eshopvnappg2.misacdn.net/QLCH/resources/images/messenger.svg') no-repeat center;
    width: 20px;
    height: 100%;
}


.icon-bell {
    background: url('https://eshopvnappg2.misacdn.net/QLCH/resources/images/notify-18.png') no-repeat center;
    width: 20px;
    height: 100%;
}

.icon-what {
    background: url('https://eshopvnappg2.misacdn.net/QLCH/resources/images/icon_help_18.png') no-repeat center;
    width: 20px;
    height: 100%;
}

//Sales APP
.sales-app {
    height: 80px;
}

.content-sales-app {
    background-color: #2B3173;
    height: 60px;
    margin: 0 18px;
    border-radius: 5px;
    text-decoration: none;
}

.content-sales-app:hover {
    cursor: pointer;
}

.logo-app,
.img-logo-app {

    width: 60px;
    height: 60px;

}

.title-app {
    padding-top: 6px;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
}

.messege-app {
    color: #fff;
    font-size: 12px;
    font-style: italic;
    padding-top: 5px;
}

.event-messege {
    font-size: 12px;
    padding: 0 10px;
    background-color: red;
    border-radius: 20px;
    margin-left: 10px;
}