<h3>1.date Default</h3>
<div class="d-flex">
    <div class="bg-control">
        <e-date :control="dtDefault" v-model="dtDefault.value" />

    </div>

    <div class="bg-control">
        <e-date :control="dtRequire" v-model="dtRequire.value" />

    </div>

    <div class="bg-control">
        <e-date :control="dtReadOnly" v-model="dtReadOnly.value" />

    </div>

</div>


<h3>2.date loading</h3>
<div class="d-flex">
    <div class="bg-control">
        <e-date :control="dtLoading" v-model="dtLoading.value" />

    </div>
</div>