<div class="body-revenue-bill width-fill">
    <div class="revenue-data">
        <div class="header-bill d-flex-vcenter">
            <span>Hoạt động trong ngày 23/09/2023 - 05:35
            </span>
            <p class="header-branch d-flex-vcenter height-fill"> (Misa)</p>
        </div>

        <div class="container-revenue d-flex-space-around">
            <div class="revenue-day">
                <div class="header-revenue">
                    <div class=" d-flex-vcenter d-flex-sp-center height-fill">
                        <span>Tiền thu trong ngày</span>
                        <div class="value-revenue d-flex">
                            <span>0.00</span>
                            <span class="icon-value-revenue"></span>
                        </div>
                    </div>
                </div>

                <div class="item-revenue">
                    <div class=" d-flex-vcenter d-flex-sp-center height-fill">
                        <span>Bán Hàng</span>
                        <div class="value-revenue d-flex">
                            <span>0.00</span>
                            <span class="icon-value-revenue"></span>
                        </div>
                    </div>
                </div>
                <div class="item-revenue">
                    <div class=" d-flex-vcenter d-flex-sp-center height-fill">
                        <span>Thu Nợ/Thu COD</span>
                        <div class="value-revenue d-flex">
                            <span>0.00</span>
                            <span class="icon-value-revenue"></span>
                        </div>
                    </div>
                </div>
                <div class="item-revenue">
                    <div class=" d-flex-vcenter d-flex-sp-center height-fill">
                        <span>Khách đặt cọc</span>
                        <div class="value-revenue d-flex">
                            <span>0.00</span>
                            <span class="icon-value-revenue"></span>
                        </div>
                    </div>
                </div>
                <div class="item-revenue">
                    <div class=" d-flex-vcenter d-flex-sp-center  height-fill">
                        <span>Thu khác</span>
                        <div class="value-revenue d-flex">
                            <span>0.00</span>
                            <span class="icon-value-revenue"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="revenue-estimated">
                <div class="header-revenue">
                    <div class=" d-flex-vcenter d-flex-sp-center height-fill">
                        <span>Doanh thu ước tính</span>
                        <div class="value-revenue d-flex">
                            <span>0.00</span>
                            <span class="icon-value-revenue"></span>
                        </div>
                    </div>
                </div>

                <div class="item-revenue">
                    <div class=" d-flex-vcenter d-flex-sp-center height-fill">
                        <span style="min-width: 135px;">Hóa đơn hoàn thành</span>
                        <div class="value-bills d-flex-center">0</div>
                        <div class="value-revenue d-flex">
                            <span>0.00</span>
                            <span class="icon-value-revenue"></span>
                        </div>
                    </div>
                </div>
                <div class="item-revenue">
                    <div class=" d-flex-vcenter d-flex-sp-center height-fill">
                        <span style="min-width: 135px;">Hóa đơn đang xử lý</span>
                        <div class="value-bills d-flex-center">0</div>
                        <div class="value-revenue d-flex">
                            <span>0.00</span>
                            <span class="icon-value-revenue"></span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="revenue-bill">
                <div class="header-revenue">
                    <div class=" d-flex-vcenter d-flex-sp-center height-fill">
                        <span>Hóa Đơn</span>
                        <div class="value-revenue d-flex">
                            <span>0.00</span>
                            <span class="icon-value-revenue"></span>
                        </div>
                    </div>
                </div>
                <div class="item-revenue">
                    <div class=" d-flex-vcenter d-flex-sp-center height-fill">
                        <span style="width: 120px;">Tại của hàng</span>
                        <div class="value-bills d-flex-center">0</div>
                        <div class="value-revenue d-flex">
                            <span>0.00</span>
                            <span class="icon-value-revenue"></span>
                        </div>
                    </div>
                </div>
                <div class="item-revenue">
                    <div class=" d-flex-vcenter d-flex-sp-center  height-fill">
                        <span style="width: 120px;">Giao hàng</span>
                        <div class="value-bills d-flex-center">0</div>
                        <div class="value-revenue d-flex">
                            <span>0.00</span>
                            <span class="icon-value-revenue"></span>
                        </div>
                    </div>
                </div>

            </div>

        </div>


    </div>
    <div class="revenue-chart">
        <div class="chart-item">
            <div class="chart-item-header d-flex-vcenter  d-flex-sp-center">
                <span>Doanh thu, chi phí, lợi nhuận</span>
                <div class="setting-chart d-flex">
                    <span>Combobox chỗ này</span>
                    <div class="d-flex">
                        <span class="icon-setting-chart"></span>
                        <span class="icon-refresh-chart"></span>
                    </div>
                </div>


            </div>
            <div class="chart-item-content d-flex">
                <div class="all-money d-flex">
                    <div class="icon-all-money">

                    </div>
                    <div class="field-text d-flex-column">
                        <span>DOANH THU</span>
                        <span>3.000.600</span>
                    </div>
                </div>
                <div class="all-pay d-flex">
                    <div class="icon-all-pay">

                    </div>
                    <div class="field-text d-flex-column">
                        <span>CHI PHÍ</span>
                        <span>3.000.600</span>
                    </div>
                </div>
                <div class="all-profit d-flex">
                    <div class="icon-all-profit">

                    </div>
                    <div class="field-text d-flex-column">
                        <span>LỢI NHUẬN</span>
                        <span>3.000.600</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="chart-item">
            <div class="chart-item-header d-flex-vcenter  d-flex-sp-center">
                <span>Tình hình thu chi tiền theo thời gian</span>
                <div class="setting-chart d-flex">
                    <span>Combobox chỗ này</span>
                    <div class="d-flex">
                        <span class="icon-setting-chart"></span>
                        <span class="icon-refresh-chart"></span>
                    </div>
                </div>
            </div>
            <div class="chart-item-content d-flex">
                <div class="all-money d-flex">
                    <div class="icon-all-money">

                    </div>
                    <div class="field-text d-flex-column">
                        <span>TIỀN THU</span>
                        <span>3.000.600</span>
                    </div>
                </div>
                <div class="all-pay d-flex">
                    <div class="icon-all-pay">

                    </div>
                    <div class="field-text d-flex-column">
                        <span>TIỀN CHI</span>
                        <span>3.000.600</span>
                    </div>
                </div>
                <div class="all-profit d-flex">
                    <div class="icon-all-profit">

                    </div>
                    <div class="field-text d-flex-column">
                        <span>CHÊNH LỆCH</span>
                        <span>3.000.600</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="chart-item">
            <div class="chart-item-header d-flex-vcenter d-flex-sp-center">
                <span>Combobox</span>
                <div class="setting-chart d-flex">
                    <span>Combobox chỗ này</span>
                    <div class="d-flex">
                        <span class="icon-setting-chart"></span>
                        <span class="icon-refresh-chart"></span>
                    </div>
                </div>


            </div>
            <div class="chart-item-content d-flex">
                <div class="chart-circle"></div>
                <div class="item-chart-circle d-flex-column">
                    <div class="messege-item-chart d-flex-vcenter">
                        <div class="icon-color-chart item-chart1">

                        </div>
                        <span>Đầm Suông Lai V2</span>
                    </div>
                    <div class="messege-item-chart d-flex-vcenter">
                        <div class="icon-color-chart item-chart2">

                        </div>
                        <span>01 Bình nước Lock&Lock</span>
                    </div>
                    <div class="messege-item-chart d-flex-vcenter">
                        <div class="icon-color-chart item-chart3">

                        </div>
                        <span>Áo phông nữ</span>
                    </div>
                    <div class="messege-item-chart d-flex-vcenter">
                        <div class="icon-color-chart item-chart4">

                        </div>
                        <span>1001702828052884211</span>
                    </div>
                    <div class="messege-item-chart d-flex-vcenter">
                        <div class="icon-color-chart item-chart5">

                        </div>
                        <span>combo co dinh</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="chart-item">
            <div class="chart-item-header d-flex-vcenter  d-flex-sp-center">
                <span>combobox</span>
                <div class="setting-chart d-flex">
                    <span>Combobox chỗ này</span>
                    <div class="d-flex">
                        <span class="icon-setting-chart"></span>
                        <span class="icon-refresh-chart"></span>
                    </div>
                </div>


            </div>
        </div>

    </div>


</div>