<div class="body-revenue-bill width-fill">
    <div class="revenue-data">
        <div class="header-bill d-flex-vcenter">
            <span>Hoạt động trong ngày 23/09/2023 - 05:35
            </span>
            <p class="header-branch d-flex-vcenter height-fill"> (Misa)</p>
        </div>

        <div class="container-revenue d-flex-space-around">
            <div class="revenue-day">
                <div class="header-revenue">
                    <div class=" d-flex-vcenter d-flex-sp-center height-fill">
                        <span>Tiền thu trong ngày</span>
                        <div class="value-revenue d-flex">
                            <span>0.00</span>
                            <span class="icon-value-revenue"></span>
                        </div>
                    </div>
                </div>

                <div class="item-revenue">
                    <div class=" d-flex-vcenter d-flex-sp-center height-fill">
                        <span>Bán Hàng</span>
                        <div class="value-revenue d-flex">
                            <span>0.00</span>
                            <span class="icon-value-revenue"></span>
                        </div>
                    </div>
                </div>
                <div class="item-revenue">
                    <div class=" d-flex-vcenter d-flex-sp-center height-fill">
                        <span>Thu Nợ/Thu COD</span>
                        <div class="value-revenue d-flex">
                            <span>0.00</span>
                            <span class="icon-value-revenue"></span>
                        </div>
                    </div>
                </div>
                <div class="item-revenue">
                    <div class=" d-flex-vcenter d-flex-sp-center height-fill">
                        <span>Khách đặt cọc</span>
                        <div class="value-revenue d-flex">
                            <span>0.00</span>
                            <span class="icon-value-revenue"></span>
                        </div>
                    </div>
                </div>
                <div class="item-revenue">
                    <div class=" d-flex-vcenter d-flex-sp-center  height-fill">
                        <span>Thu khác</span>
                        <div class="value-revenue d-flex">
                            <span>0.00</span>
                            <span class="icon-value-revenue"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="revenue-estimated">
                <div class="header-revenue">
                    <div class=" d-flex-vcenter d-flex-sp-center height-fill">
                        <span>Doanh thu ước tính</span>
                        <div class="value-revenue d-flex">
                            <span>0.00</span>
                            <span class="icon-value-revenue"></span>
                        </div>
                    </div>
                </div>

                <div class="item-revenue">
                    <div class=" d-flex-vcenter d-flex-sp-center height-fill">
                        <span style="width: 120px;">Hóa đơn hoàn thành</span>
                        <div class="value-bills d-flex-center">0</div>
                        <div class="value-revenue d-flex">
                            <span>0.00</span>
                            <span class="icon-value-revenue"></span>
                        </div>
                    </div>
                </div>
                <div class="item-revenue">
                    <div class=" d-flex-vcenter d-flex-sp-center height-fill">
                        <span style="width: 120px;">Hóa đơn đang xử lý</span>
                        <div class="value-bills d-flex-center">0</div>
                        <div class="value-revenue d-flex">
                            <span>0.00</span>
                            <span class="icon-value-revenue"></span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="revenue-bill">
                <div class="header-revenue">
                    <div class=" d-flex-vcenter d-flex-sp-center height-fill">
                        <span>Hóa Đơn</span>
                        <div class="value-revenue d-flex">
                            <span>0.00</span>
                            <span class="icon-value-revenue"></span>
                        </div>
                    </div>
                </div>
                <div class="item-revenue">
                    <div class=" d-flex-vcenter d-flex-sp-center height-fill">
                        <span style="width: 120px;">Tại của hàng</span>
                        <div class="value-bills d-flex-center">0</div>
                        <div class="value-revenue d-flex">
                            <span>0.00</span>
                            <span class="icon-value-revenue"></span>
                        </div>
                    </div>
                </div>
                <div class="item-revenue">
                    <div class=" d-flex-vcenter d-flex-sp-center  height-fill">
                        <span style="width: 120px;">Giao hàng</span>
                        <div class="value-bills d-flex-center">0</div>
                        <div class="value-revenue d-flex">
                            <span>0.00</span>
                            <span class="icon-value-revenue"></span>
                        </div>
                    </div>
                </div>

            </div>

        </div>


    </div>
    <div class="revenue-chart">
        <div class="item" style="background-color: red; border: 1px solid black;">1</div>
        <div class="item" style="background-color: red; border: 1px solid black;">1</div>
        <div class="item" style="background-color: red; border: 1px solid black;">1</div>
        <div class="item" style="background-color: red; border: 1px solid black;">1</div>

    </div>
    <div class="revenue-chart">
        <div class="item" style="background-color: red; border: 1px solid black;">1</div>
        <div class="item" style="background-color: red; border: 1px solid black;">1</div>
        <div class="item" style="background-color: red; border: 1px solid black;">1</div>
        <div class="item" style="background-color: red; border: 1px solid black;">1</div>

    </div>

</div>