.body-revenue-bill {
    background-color: #E5E6EB;

}

.revenue-data {
    height: 270px;
    background-color: #fff;
    border-radius: 5px;

}

.header-bill {
    height: 50px;
    border-bottom: 1px solid #DFDFDF;
    color: #757575;
}

.header-bill span {
    margin: 0 0 0 15px;
    font-weight: 600;
}

.header-bill p {
    margin-left: 5px;
}

.header-branch {
    font-weight: 500;
    color: var(--text-color);
}

.container-revenue {
    margin-top: 15px;
}


.revenue-day,
.revenue-bill {
    border: 1px solid black;
    margin-left: 15px;
    margin-right: 15px;
}



.revenue-day,
.revenue-estimated,
.revenue-bill {
    width: 345px;
    height: 185px;
    border-radius: 5px;
    border: 1px solid #E1E1E1;
    border-top: 3px solid #2b3173;
}


.header-revenue {
    height: 40px;
    padding: 0 15px;
    border-bottom: 1px solid #DFDFDF;
}

.item-revenue {
    height: 30px;
    padding: 5px 15px 0 15px;
}

.value-bills {
    width: 25px;
    height: 25px;
    background-color: #EEEEEE;
    color: #757575;
    border-radius: 3px;
    font-weight: 600;
}

.value-bills:hover {
    background-color: #e1e1e1;
}

.item-revenue div span {
    font-weight: 600;
    font-size: 13px;


}

.header-revenue div span {
    font-weight: 700;
    font-size: 13px;
}

.icon-value-revenue {
    background: url(../../../../common/MISA.QLCH.Library/src/assets/images/common-icon.png) no-repeat -755px -127px;
    width: 10px;
    height: 13px;

}

.value-revenue {
    color: #2b3173;

}

.value-revenue:hover {
    cursor: pointer;
    color: #6b6f9d;
}

.revenue-chart {
    display: grid;
    grid-template-columns: 4fr 5fr;
    grid-template-rows: 400px 400px;
    column-gap: 12px;
    row-gap: 12px;
    padding: 10px 0;

}

.chart-item {
    background-color: #fff;
    border-radius: 5px;

}

.chart-item-header {
    height: 50px;
    border-bottom: 1px solid #DFDFDF;
    padding: 0 15px;
}

.chart-item-header span {
    color: #757575;
    font-weight: 500;
    font-size: 13px;
}

.icon-setting-chart {
    background: url(https://eshopvnappg2.misacdn.net/QLCH/resources/images/icon-tong-quan.png) no-repeat -3px -2px;
    width: 15px;
    height: 15px;
    margin: 0 10px;


}

.icon-refresh-chart {
    background: url(https://eshopvnappg2.misacdn.net/QLCH/resources/images/icon-tong-quan.png) no-repeat -27px -2px;
    width: 15px;
    height: 15px;

}

.icon-setting-chart:hover {
    cursor: pointer;
    background: url(https://eshopvnappg2.misacdn.net/QLCH/resources/images/icon-tong-quan.png) no-repeat -3px -27px;
}

.icon-refresh-chart:hover {
    cursor: pointer;
    background: url(https://eshopvnappg2.misacdn.net/QLCH/resources/images/icon-tong-quan.png) no-repeat -27px -27px;

}

.all-pay,
.all-money,
.all-profit {
    width: 120px;
    height: 50px;
    padding: 10px;
    background-color: #EEEEEE;
    border-radius: 5px;

}

.all-pay:hover,
.all-money:hover,
.all-profit:hover {
    background-color: #E5D4D4;
    cursor: pointer;
}

.all-money {
    margin: 10px 0 0 10px;
}

.all-pay {
    margin: 10px 10px 0 10px;
}

.all-profit {
    margin-top: 10px;
}

.icon-all-money {
    width: 15px;
    height: 15px;
    background-color: #3B9BE2;
    border-radius: 50%;
    margin-right: 15px;
}

.icon-all-pay {
    width: 15px;
    height: 15px;
    background-color: #E18314;
    border-radius: 50%;
    margin-right: 15px;
}

.icon-all-profit {
    width: 15px;
    height: 15px;
    background-color: #6DAB13;
    border-radius: 50%;
    margin-right: 15px;
}

.field-text {
    font-weight: 600;
}



.chart-circle {
    margin: 150px auto 0 auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: repeating-conic-gradient(from 0deg,
            #44C1F9 0deg calc(3.6deg *60),
            #BC33E6 calc(3.6deg * 60) calc(3.6deg * 73),
            #18BC66 calc(3.6deg * 73) calc(3.6deg * 83),
            #0984AE calc(3.6deg * 83) calc(3.6deg * 92),
            #FBCF3A calc(3.6deg * 92) calc(3.6deg * 100),
        )
}

.item-chart-circle {
    min-width: 220px;
    margin-top: 15px;
}

.icon-color-chart {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #44C1F9;
    margin-right: 10px;
}

.item-chart2 {
    background-color: #BC33E6;
}

.item-chart3 {
    background-color: #18BC66;
}

.item-chart4 {
    background-color: #0984AE;
}

.item-chart5 {
    background-color: #FBCF3A;
}


.messege-item-chart {
    font-size: 14px;
    margin: 5px 0px 10px 0px;
}

.messege-item-chart:hover {
    cursor: pointer;
    font-weight: 600;
}