<base-dictionary-detail-view :idRoot="idRoot" :propView="propView" :styleFrom="`min-width: 600px;`"
  @toolbarClick="onSelectAction" @closeFormClick="onCloseForm">
  <template v-slot:content-detail>
    <div class="form-cash-receipt d-flex">
      <div class="form-cashReceipt-detail-left">
        <span class="heading-cashReceipt-info">THÔNG TIN CHUNG</span>
        <div class="qlch-input-default item-detail">
          <e-combobox :control="bindingControl[`txtObjectCashReceipt`]"
            v-model="masterData[bindingControl[`txtObjectCashReceipt`].bindingIndex]"></e-combobox>
        </div>
        <div class="qlch-input-default item-detail">
          <e-combobox :control="bindingControl[`txtNameObjectCashReceipt`]"
            v-model="masterData[bindingControl[`txtNameObjectCashReceipt`].bindingIndex]"></e-combobox>
        </div>
        <div class="qlch-input-default item-detail">
          <e-text-box :control="bindingControl[`txtPayerCashReceipt`]"
            v-model="masterData[bindingControl[`txtPayerCashReceipt`].bindingIndex]"></e-text-box>
        </div>
        <div class="qlch-input-default item-detail">
          <e-text-box :control="bindingControl[`txtAddressPayerCashReceipt`]"
            v-model="masterData[bindingControl[`txtAddressPayerCashReceipt`].bindingIndex]"></e-text-box>
        </div>
        <div class="qlch-input-default item-detail">
          <e-text-box :control="bindingControl[`txtExplantCashReceipt`]"
            v-model="masterData[bindingControl[`txtExplantCashReceipt`].bindingIndex]"></e-text-box>
        </div>
        <div class="qlch-input-default item-detail">
          <e-combobox :control="bindingControl[`txtRevenueOfficerCashReceipt`]"
            v-model="masterData[bindingControl[`txtRevenueOfficerCashReceipt`].bindingIndex]"></e-combobox>
        </div>
        <div class="qlch-input-default item-detail">
          <e-text-box :control="bindingControl[`txtNameRevenueOfficerCashReceipt`]"
            v-model="masterData[bindingControl[`txtNameRevenueOfficerCashReceipt`].bindingIndex]"></e-text-box>
        </div>
      </div>

      <div class="form-cashReceipt-detail-right">
        <span class="heading-cashReceipt-info">CHỨNG TỪ</span>
        <div class="qlch-input-default item-detail">
          <e-text-box :control="bindingControl[`txtCodeCashReceipt`]"
            v-model="masterData[bindingControl[`txtCodeCashReceipt`].bindingIndex]"></e-text-box>
        </div>
        <div class="qlch-input-default item-detail">
          <e-date :control="bindingControl[`txtDateCashReceipt`]"
            v-model="masterData[bindingControl[`txtDateCashReceipt`].bindingIndex]"></e-date>
        </div>
        <div class="qlch-input-default item-checkbox-detail">
          <e-checkbox :control="bindingControl[`txtIncludedCashReceipt`]"
            v-model="masterData[bindingControl[`txtIncludedCashReceipt`].bindingIndex]"></e-checkbox>
        </div>

      </div>
    </div>
    <div class="grid-footer">
      <div class="d-flex">
        <div class="grid-footer-item flex-1">
          <span class="heading-cashReceipt-info">Chi tiết</span>
        </div>
      </div>
      <div class="grid-GoodsCashReceipt">
        <table class="flex-1">
          <thead>
            <tr>
              <th>Diễn Giải</th>
              <th>Số tiền</th>
              <th>
                <e-button :control="btnAddListTable" @click="AddListTable()" />
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-if="lstCashReceiptDetail?.length > 0" v-for="item in lstCashReceiptDetail"
              :key="item.CashReceiptDetailId">
              <td>
                <e-text-box :control="txtExplainCashReceipt" v-model="item.ExplainCashReceipt"></e-text-box>
              </td>
              <td>
                <e-number :control="txtMoneyCashDetail" v-model="item.MoneyCashDetail"></e-number>
              </td>
              <td>
                <e-button :control="btnDelListTable" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="synthetic-footer d-flex-vcenter">
      <div class="main-synthetic d-flex-vcenter">
        <e-number :control="bindingControl[`txtTotalMoneyCashReceipt`]"
          v-model="masterData[bindingControl[`txtTotalMoneyCashReceipt`].bindingIndex]"></e-number>
      </div>

    </div>

  </template>
</base-dictionary-detail-view>