<base-dictionary-detail-view :idRoot="idRoot" :propView="propView" :styleFrom="`width: 500px;`"
  @toolbarClick="onSelectAction" @closeFormClick="onCloseForm">
  <template v-slot:content-detail>
    <div class="qlch-input-default item-detail">
      <e-text-box :control="bindingControl[`txtCodeGroupCategory`]"
        v-model="masterData[bindingControl[`txtCodeGroupCategory`].bindingIndex]"></e-text-box>
    </div>
    <div class="qlch-input-default item-detail">
      <e-text-box :control="bindingControl[`txtNameGroupCategory`]"
        v-model="masterData[bindingControl[`txtNameGroupCategory`].bindingIndex]"></e-text-box>
    </div>
    <div class="qlch-input-default item-detail">
      <e-text-box :control="bindingControl[`txtDescribeCategory`]"
        v-model="masterData[bindingControl[`txtDescribeCategory`].bindingIndex]"></e-text-box>
    </div>
    <!-- <div class="qlch-input-default item-detail">
      <e-combobox :control="bindingControl[`txtColumn4`]"
        v-model="masterData[bindingControl[`txtColumn4`].bindingIndex]"></e-combobox>
    </div> -->
  </template>
</base-dictionary-detail-view>