<base-dictionary-detail-view :idRoot="idRoot" :propView="propView" :styleFrom="`min-width: 600px;`"
  @toolbarClick="onSelectAction" @closeFormClick="onCloseForm">
  <template v-slot:content-detail>
    <div class="d-flex">
      <div class="qlch-input-default item-detail flex-1">
        <e-text-box :control="bindingControl[`txtCodeCustomer`]"
          v-model="masterData[bindingControl[`txtCodeCustomer`].bindingIndex]"></e-text-box>
      </div>
      <div class="qlch-input-default item-detail flex-1">
        <e-text-box :control="bindingControl[`txtNameCustomer`]"
          v-model="masterData[bindingControl[`txtNameCustomer`].bindingIndex]"></e-text-box>
      </div>
    </div>
    <div class="d-flex">
      <div class="qlch-input-default item-detail flex-1">
        <e-combobox :control="bindingControl[`txtCustomerGroupList`]"
          v-model="masterData[bindingControl[`txtCustomerGroupList`].bindingIndex]"></e-combobox>
      </div>
      <div class="qlch-input-default item-detail flex-1">
        <e-text-box :control="bindingControl[`txtTelephoneCustomer`]"
          v-model="masterData[bindingControl[`txtTelephoneCustomer`].bindingIndex]"></e-text-box>
      </div>
    </div>
    <div class="qlch-input-default item-detail">
      <e-text-box :control="bindingControl[`txtAddressCustomer`]"
        v-model="masterData[bindingControl[`txtAddressCustomer`].bindingIndex]"></e-text-box>
    </div>
    <div class="d-flex">
      <div class="qlch-input-default item-detail">
        <e-combobox :control="bindingControl[`txtGenderCustomer`]"
          v-model="masterData[bindingControl[`txtGenderCustomer`].bindingIndex]"></e-combobox>
      </div>
      <div class="qlch-input-default item-detail flex-1">
        <e-date :control="bindingControl[`txtDateBirthCustomer`]"
          v-model="masterData[bindingControl[`txtDateBirthCustomer`].bindingIndex]"></e-date>
      </div>
    </div>
    <div class="qlch-input-default item-detail flex-1">
      <e-text-box :control="bindingControl[`txtEmailCustomer`]"
        v-model="masterData[bindingControl[`txtEmailCustomer`].bindingIndex]"></e-text-box>
    </div>
    <div class="d-flex">
      <div class="qlch-input-default item-detail flex-1">
        <e-combobox :control="bindingControl[`txtCodeEmployeeCustomer`]"
          v-model="masterData[bindingControl[`txtCodeEmployeeCustomer`].bindingIndex]"></e-combobox>
      </div>
      <div class="qlch-input-default item-detail flex-1">
        <e-text-box :control="bindingControl[`txtNameEmployeeCustomer`]"
          v-model="masterData[bindingControl[`txtNameEmployeeCustomer`].bindingIndex]"></e-text-box>
      </div>
    </div>
    <div class="qlch-input-default item-detail">
      <e-text-box :control="bindingControl[`txtAttentionCustomer`]"
        v-model="masterData[bindingControl[`txtAttentionCustomer`].bindingIndex]"></e-text-box>
    </div>
  </template>
</base-dictionary-detail-view>