.navbar-import {
  height: 35px;
  background-color: #F6F6F6;

}

.navbar-item {
  padding: 0 10px;
  font-size: 14px;
  font-weight: 600;

}

.navbar-item:hover {
  cursor: pointer;
  background-color: #E5E6EB;
}

.line-navbar {
  width: 2px;
  background-color: grey;
}

.item-detail {
  margin-bottom: 8px;
}

.item-detail:first-child {
  margin-top: 24px;
}

.item-detail:last-child {
  margin-bottom: 24px;
}

.selected {
  background-color: #E5E6EB;
}

.heading-return-info {
  font-size: 15px;
  font-weight: 600;
  color: #757575;
  display: block;
  padding: 0 0 10px 0;
}

.form-return-detail-left,
.form-return-detail-right {
  margin: 15px 15px;
}

.grid-footer {
  height: 160px;
}

.content-form-return {
  overflow-y: scroll;
  height: 128px;
  margin-bottom: 20px;
}

.grid-footer {
  height: 160px;

}

.heading-return-info {
  font-size: 15px;
  font-weight: 600;
  color: #757575;
  display: block;
  padding: 0 0 10px 0;
}

.synthetic-footer {
  margin: 50px 0 0px 0;
  background-color: #EFF0F3;
}

.main-synthetic {
  height: 35px;
  margin-right: 100px;
  font-size: 14px;
  font-weight: 600;
}

.main-synthetic span {
  font-size: 14px;
  font-weight: 600;
}