<base-dictionary-detail-view :idRoot="idRoot" :propView="propView" :styleFrom="`width: 1000px;`"
  @toolbarClick="onSelectAction" @closeFormClick="onCloseForm">
  <template v-slot:content-detail>
    <div class="navbar-import d-flex-vcenter width-fill ">
      <span class="navbar-item height-fill d-flex-vcenter" :class="{ 'selected': navbar1Selected }"
        @click="showImport()">Phiếu Xuất</span>
      <span class="line-navbar height-fill"></span>
      <span class="navbar-item height-fill d-flex-vcenter" :class="{ 'selected': navbar2Selected }"
        @click="showExport()">Phiếu Thu</span>
    </div>
    <div v-if="disableFormImport">
      <div class="content-form-return d-flex">
        <div class="form-return-detail-left flex-1">
          <span class="heading-return-info">THÔNG TIN CHUNG</span>
          <div class="qlch-input-default item-detail">
            <e-combobox @dataChange="ShowNameVendor" :control="bindingControl[`txtSupplierReturn`]"
              v-model="masterData[bindingControl[`txtSupplierReturn`].bindingIndex]"></e-combobox>
          </div>
          <div class="qlch-input-default item-detail">
            <e-text-box :control="bindingControl[`txtNameSupplierReturn`]"
              v-model="masterData[bindingControl[`txtNameSupplierReturn`].bindingIndex]"></e-text-box>
          </div>
          <div class="qlch-input-default item-detail">
            <e-text-box :control="bindingControl[`txtReceiverReturn`]"
              v-model="masterData[bindingControl[`txtReceiverReturn`].bindingIndex]"></e-text-box>
          </div>
          <div class="qlch-input-default item-detail">
            <e-text-box :control="bindingControl[`txtAddressSupplierReturn`]"
              v-model="masterData[bindingControl[`txtAddressSupplierReturn`].bindingIndex]"></e-text-box>
          </div>
          <div class="qlch-input-default item-detail">
            <e-text-box :control="bindingControl[`txtExplantReturn`]"
              v-model="masterData[bindingControl[`txtExplantReturn`].bindingIndex]"></e-text-box>
          </div>
        </div>

        <div class="form-return-detail-right">
          <span class="heading-return-info">CHỨNG TỪ</span>
          <div class="qlch-input-default item-detail">
            <e-text-box :control="bindingControl[`txtBillNumberReturn`]"
              v-model="masterData[bindingControl[`txtBillNumberReturn`].bindingIndex]"></e-text-box>
          </div>
          <div class="qlch-input-default item-detail">
            <e-date :control="bindingControl[`txtDateReturn`]"
              v-model="masterData[bindingControl[`txtDateReturn`].bindingIndex]"></e-date>
          </div>

        </div>
      </div>
      <div class="grid-footer">
        <span class="heading-return-info">Chi tiết</span>
        <div class="grid-GoodsReturn">
          <table class="flex-1">
            <thead>
              <tr>
                <th>Mã Hàng Hóa</th>
                <th>Tên Hàng Hóa</th>
                <th>Kho</th>
                <th>Đơn vị tính</th>
                <th>Số lượng</th>
                <th>Đơn giá</th>
                <th>Thành tiền</th>
                <th>
                  <e-button :control="btnAddListTable" @click="AddListTable()" />
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="lstReturnDetail?.length > 0" v-for="item in lstReturnDetail" :key="item.ReturnDetailId">
                <td>
                  <e-combobox @dataChange="ShowNameProduct($event, item)" :control="txtCodeProductReturn"
                    v-model="item.CodeProductReturn"></e-combobox>
                </td>
                <td>
                  <e-text-box :control="txtNameProductReturn" v-model="item.NameProductReturn"></e-text-box>
                </td>
                <td>
                  <e-combobox :control="txtWarehouseProductReturn" v-model="item.WarehouseProductReturn"></e-combobox>
                </td>
                <td>
                  <e-text-box :control="txtUnitProductReturn" v-model="item.UnitProductReturn"></e-text-box>
                </td>
                <td>
                  <e-number @blur="ShowPaymentReturn($event, item)" :control="txtNumberProductReturn"
                    v-model="item.NumberProductReturn"></e-number>
                </td>
                <td>
                  <e-number :control="txtUnitPriceReturn" v-model="item.UnitPriceReturn"></e-number>
                </td>
                <td>
                  <e-number :control="txtPaymentReturn" v-model="item.PaymentReturn"></e-number>
                </td>
                <td>
                  <e-button :control="btnDelListTable" @click="DelListTable(item)" />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="synthetic-footer d-flex-vcenter d-flex-sp-center">
        <div class="main-synthetic d-flex-vcenter">
          <e-number :control="bindingControl[`txtTotalQuantityReturn`]"
            v-model="masterData[bindingControl[`txtTotalQuantityReturn`].bindingIndex]"></e-number>
        </div>
        <div class="main-synthetic d-flex-vcenter">
          <e-number :control="bindingControl[`txtTotalMoneyReturn`]"
            v-model="masterData[bindingControl[`txtTotalMoneyReturn`].bindingIndex]"></e-number>
        </div>

      </div>
    </div>
    <div v-if="disableFormPayment">
      <div class="content-form-return d-flex">
        <div class="form-return-detail-left flex-1">
          <span class="heading-return-info">THÔNG TIN CHUNG</span>
          <div class="qlch-input-default item-detail">
            <e-combobox @dataChange="ShowNameVendor" :control="bindingControl[`txtSupplierReturn`]"
              v-model="masterData[bindingControl[`txtSupplierReturn`].bindingIndex]"></e-combobox>
          </div>
          <div class="qlch-input-default item-detail">
            <e-text-box :control="bindingControl[`txtNameSupplierReturn`]"
              v-model="masterData[bindingControl[`txtNameSupplierReturn`].bindingIndex]"></e-text-box>
          </div>
          <div class="qlch-input-default item-detail">
            <e-text-box :control="bindingControl[`txtAddressSupplierReturn`]"
              v-model="masterData[bindingControl[`txtAddressSupplierReturn`].bindingIndex]"></e-text-box>
          </div>
          <div class="qlch-input-default item-detail">
            <e-text-box :control="bindingControl[`txtReasonReturn`]"
              v-model="masterData[bindingControl[`txtReasonReturn`].bindingIndex]"></e-text-box>
          </div>
          <div class="qlch-input-default item-detail">
            <e-combobox @dataChange="ShowNameEmployee" :control="bindingControl[`txtRevenueOfficer`]"
              v-model="masterData[bindingControl[`txtRevenueOfficer`].bindingIndex]"></e-combobox>
          </div>
          <div class="qlch-input-default item-detail">
            <e-text-box :control="bindingControl[`txtRevenueOfficerNameReturn`]"
              v-model="masterData[bindingControl[`txtRevenueOfficerNameReturn`].bindingIndex]"></e-text-box>
          </div>
        </div>
        <div class="form-return-detail-right">
          <span class="heading-return-info">CHỨNG TỪ</span>
          <div class="qlch-input-default item-detail">
            <e-text-box :control="bindingControl[`txtReceiptNumberReturn`]"
              v-model="masterData[bindingControl[`txtReceiptNumberReturn`].bindingIndex]"></e-text-box>
          </div>
          <div class="qlch-input-default item-detail">
            <e-date :control="bindingControl[`txtCollectionDateReturn`]"
              v-model="masterData[bindingControl[`txtCollectionDateReturn`].bindingIndex]"></e-date>
          </div>

        </div>
      </div>
      <div class="grid-footer">
        <span class="heading-return-info">Chi tiết</span>
        <div class="grid-GoodsReturn">
          <table class="flex-1">
            <thead>
              <tr>
                <th>Mã Hàng Hóa</th>
                <th>Tên Hàng Hóa</th>
                <th>Kho</th>
                <th>Đơn vị tính</th>
                <th>Số lượng</th>
                <th>Đơn giá</th>
                <th>Thành tiền</th>
                <th>
                  <e-button :control="btnAddListTable" @click="AddListTable()" />
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="lstReturnDetail?.length > 0" v-for="item in lstReturnDetail" :key="item.ReturnDetailId">
                <td>
                  <e-combobox @dataChange="ShowNameProduct($event, item)" :control="txtCodeProductReturn"
                    v-model="item.CodeProductReturn"></e-combobox>
                </td>
                <td>
                  <e-text-box :control="txtNameProductReturn" v-model="item.NameProductReturn"></e-text-box>
                </td>
                <td>
                  <e-combobox :control="txtWarehouseProductReturn" v-model="item.WarehouseProductReturn"></e-combobox>
                </td>
                <td>
                  <e-text-box :control="txtUnitProductReturn" v-model="item.UnitProductReturn"></e-text-box>
                </td>
                <td>
                  <e-number @blur="ShowPaymentReturn($event, item)" :control="txtNumberProductReturn"
                    v-model="item.NumberProductReturn"></e-number>
                </td>
                <td>
                  <e-number :control="txtUnitPriceReturn" v-model="item.UnitPriceReturn"></e-number>
                </td>
                <td>
                  <e-number :control="txtPaymentReturn" v-model="item.PaymentReturn"></e-number>
                </td>
                <td>
                  <e-button :control="btnDelListTable" @click="DelListTable(item)" />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="synthetic-footer d-flex-vcenter d-flex-sp-center">
        <div class="main-synthetic d-flex-vcenter">
          <e-number :control="bindingControl[`txtTotalQuantityReturn`]"
            v-model="masterData[bindingControl[`txtTotalQuantityReturn`].bindingIndex]"></e-number>
        </div>
        <div class="main-synthetic d-flex-vcenter">
          <e-number :control="bindingControl[`txtTotalMoneyReturn`]"
            v-model="masterData[bindingControl[`txtTotalMoneyReturn`].bindingIndex]"></e-number>
        </div>

      </div>
    </div>

  </template>
</base-dictionary-detail-view>