<div class="body-home-store width-full-view height-full-view ">
    <div class="header-store width-fill d-flex">
        <div class="header-left height-fill d-flex-vcenter flex-1">
            <span class="logo-icon-home-store"></span>
            <div class="d-flex-vcenter height-fill">
                <div class="form-bill d-flex-vcenter height-fill">
                    <div class="bill-item d-flex-vcenter height-fill" v-for="(bill, index) in bills" :key="index">
                        <div class="label-bill-item">
                            <span>Hóa đơn</span>
                            <span class="number-bills">{{bill.number}}</span>
                        </div>
                        <span class="delete-bill-item" @click="deleteBill(index)"></span>
                    </div>
                </div>
            </div>
            <div class="add-bill d-flex-center height-fill" @click="addBill">
                <span class="add-bill-item"></span>
            </div>
        </div>
        <div class="header-right height-fill d-flex-vcenter">
            <div class="chosse-warehouse d-flex-vcenter">
                <span class="icon-warehouse"></span>
                <span class="label-warehouse">K-Store</span>
            </div>
            <div class="messege-header height-fill d-flex-center">
                <span class="icon-messege"></span>
            </div>
            <div class="notice-header height-fill d-flex-center">
                <span class="icon-notice"></span>
            </div>
            <div class="user d-flex-vcenter" @click="ShowFormLogOut()" v-click-out="LogOutClickOut">
                <span class="icon-user"></span>
                <span class="label-user">TnPhuc</span>
                <span class="icon-arrow-user"></span>
                <div class="logout-form" @click="LogOut()" v-if="disableFormLogOut">
                    <span>Đăng xuất</span>
                </div>
            </div>
            <div class="overlay width-fill height-fill" v-if="disableFormMoreAction"></div>
            <div class="more-action-header height-fill d-flex-center" @click="ShowFormMoreAction()"
                v-click-out="MoreActionClickOut">
                <span class="icon-more-action"></span>
                <div class="more-action-form d-flex-column" v-if="disableFormMoreAction">
                    <div class="child-action-form d-flex">
                        <div class="more-action-item d-flex-column d-flex-vcenter flex-1">
                            <span class="img-action-item-sales"></span>
                            <div class="label-action-item">
                                <span>Bán Hàng</span>
                            </div>
                        </div>
                        <div class="more-action-item-center d-flex-column d-flex-vcenter flex-1">
                            <span class="img-action-item-order"></span>
                            <div class="label-action-item">
                                <span>Đơn Hàng</span>
                            </div>
                        </div>
                        <div class="more-action-item d-flex-column d-flex-vcenter flex-1">
                            <span class="img-action-item-invoice"></span>
                            <div class="label-action-item">
                                <span>Danh sách hóa đơn</span>
                            </div>
                        </div>
                    </div>
                    <div class="child-action-form d-flex">
                        <div class="more-action-item d-flex-column d-flex-vcenter flex-1">
                            <span class="img-action-item-online-order"></span>
                            <div class="label-action-item">
                                <span>Đơn hàng online</span>
                            </div>
                        </div>
                        <div class="more-action-item-center d-flex-column d-flex-vcenter flex-1">
                            <span class="img-action-item-return"></span>
                            <div class="label-action-item">
                                <span>Đổi trả hàng</span>
                            </div>
                        </div>
                        <div class="more-action-item d-flex-column d-flex-vcenter flex-1">
                            <span class="img-action-item-request"></span>
                            <div class="label-action-item">
                                <span>Yêu cầu điều chuyển</span>
                            </div>
                        </div>
                    </div>
                    <div class="child-action-form d-flex">
                        <div class="more-action-item d-flex-column d-flex-vcenter flex-1">
                            <span class="img-action-item-add-point"></span>
                            <div class="label-action-item">
                                <span>Nạp tiền</span>
                            </div>
                        </div>
                        <div class="more-action-item-center d-flex-column d-flex-vcenter flex-1">
                            <span class="img-action-item-revenue"></span>
                            <div class="label-action-item">
                                <span>Thu chi</span>
                            </div>
                        </div>
                        <div class="more-action-item d-flex-column d-flex-vcenter flex-1">
                            <span class="img-action-item-print"></span>
                            <div class="label-action-item">
                                <span>Máy in / Mẫu in</span>
                            </div>
                        </div>
                    </div>
                    <div class="child-action-form d-flex">
                        <div class="more-action-item d-flex-column d-flex-vcenter flex-1">
                            <span class="img-action-item-report"></span>
                            <div class="label-action-item">
                                <span>Báo cáo theo ngày</span>
                            </div>
                        </div>
                        <div class="more-action-item-center d-flex-column d-flex-vcenter flex-1">
                            <span class="img-action-item-handover-history"></span>
                            <div class="label-action-item">
                                <span>Báo cáo trong ca</span>
                            </div>
                        </div>
                        <div class="more-action-item d-flex-column d-flex-vcenter flex-1">
                            <span class="img-action-item-history"></span>
                            <div class="label-action-item">
                                <span>Nhật ký truy cập</span>
                            </div>
                        </div>
                    </div>
                    <div class="child-action-form d-flex">
                        <div class="more-action-item d-flex-column d-flex-vcenter flex-1" @click="routerManage()">
                            <span class="img-action-item-main-manage"></span>
                            <div class="label-action-item">
                                <span>Trang quản lý</span>
                            </div>
                        </div>
                        <div class="more-action-item-center d-flex-column d-flex-vcenter flex-1">
                            <span class="img-action-item-guide"></span>
                            <div class="label-action-item">
                                <span>Hướng dẫn</span>
                            </div>
                        </div>
                        <div class="more-action-item d-flex-column d-flex-vcenter flex-1">
                            <span class="img-action-item-contact-info"></span>
                            <div class="label-action-item">
                                <span>Giới thiệu</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content-home-store d-flex width-fill">
        <div class="content-store flex-1">
            <div class="out-line-content">
                <div class="header-content-store d-flex">
                    <div class="flex-1">
                        <div class="product-search d-flex-vcenter">
                            <div class="filter-search d-flex-vcenter">
                                <span>Tìm kiếm</span>
                                <span class="icon-filter-search"></span>
                            </div>
                            <span class="line-vertical"></span>
                            <div class="input-search flex-1">
                                <e-combobox @dataChange="ShowNameProduct" :control="cbbSearchProduct"
                                    v-model="cbbSearchProduct.value" />
                            </div>
                            <span class="line-vertical"></span>
                            <div class="quanty-search d-flex-vcenter">
                                <span class="label-quanty-search">SL:</span>
                                <div class="arrow-quanty">
                                    <e-number :control="txtQuanTySearch" v-model="txtQuanTySearch.value" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sales-agent d-flex-vcenter">
                        <span class="icon-sales-agent"></span>
                        <e-combobox :control="cbbAgentSales" v-model="bill.SalesAgent" />
                        <!-- <span class="arrow-sales-agent"></span> -->
                    </div>
                </div>


                <!--Sản Phẩm -->



                <div class="body-content-store">
                    <div class="d-flex-column" v-if="lstBillDetail?.length > 0" v-for="(item,index) in lstBillDetail"
                        :key="item.BillDetailId">
                        <div class="item-product d-flex-vcenter">
                            <span class="flex-1">{{0 + index+1}}</span>
                            <span class="flex-1">{{item.CodeProductBill}}</span>
                            <span class="flex-1">{{item.NameProductBill}}</span>
                            <span class="flex-1 child-item">
                                <e-number @blur="ShowTotalProduct($event, item)" :control="txtPurchased"
                                    v-model="item.QuantityBill" />
                            </span>
                            <span class="flex-1 child-item">
                                <e-text-box :control="txtUnit" v-model="item.UnitProductBill" />
                            </span>
                            <span class="flex-1 child-item">
                                <e-number :control="txtPrice" v-model="item.UnitPriceBill" />
                            </span>

                            <!--Thông tin kho hàng  -->
                            <!-- <span class="flex-1 child-item">
                                <e-number :control="txtPrice" v-model="item.UnitPriceBill" />
                            </span> -->



                            <!--Giá mua-->

                            <!-- <span class="flex-1 child-item">
                                <e-number :control="txtPrice" v-model="item.PurchaseBill" />
                            </span>
                            <span class="flex-1">
                                <e-number :control="txtPriceLastPurchase" v-model="item.IntoPurchaseMoneyBill" />
                            </span> -->

                            <!--Giá mua-->

                            <span class="flex-1">
                                <e-number :control="txtPriceLast" v-model="item.IntoMoneyBill" />
                            </span>

                            <span class="icon-child-product" @click="DelListTable(index)"></span>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="pay-store d-flex-column">
            <div class="transaction d-flex-column flex-1">
                <div class="header-transaction d-flex-column">
                    <div class="header-item-time-line d-flex d-flex-sp-center">
                        <div class="time-line-transaction d-flex-vcenter">
                            <span class="icon-time-line-transaction"></span>
                            <!-- <span class="date-time-transaction">02/12/2023</span>
                            <span> - </span>
                            <span class="real-time-transaction">14:43</span> -->
                            <span>{{timePresent}}</span>
                        </div>
                        <div class="transaction-store-update d-flex-vcenter">
                            <span class="icon-store-transaction"></span>
                            <span class="lable-transaction-store-update">Tại Cửa Hàng</span>
                            <span class="icon-arrow-store-transaction"></span>
                        </div>
                    </div>
                    <div class="header-content d-flex">
                        <div class="content-select-customer d-flex-vcenter flex-1">
                            <span class="icon-guest-content"></span>
                            <span class="type-input-select-customer">
                                <e-combobox :control="cbbSelectCustomer" v-model="bill.CustomerName" />
                            </span>
                            <!-- <div class="out-line-icon-add-guest d-flex-center">
                                <span class="icon-add-guest-content"></span>
                            </div> -->
                        </div>

                        <div class="overlay width-fill height-fill" v-if="disableFormShowDelivery"></div>
                        <div class="content-delivery d-flex-vcenter" @click="ShowDelivery()">
                            <span class="icon-content-delivery"></span>
                            <div class="PopUpDelivery" v-if="disableFormShowDelivery">
                                <div class="heading-popup-delivery">
                                    <span>Thông tin giao hàng</span>
                                </div>
                                <div class="bodyPopup d-flex">
                                    <div class="body-popup-left flex-1">
                                        <div class="heading-popup-left d-flex-vcenter">
                                            <span>Thông tin người nhận</span>
                                        </div>
                                        <div class="bodyPopup-item d-flex-vcenter">
                                            <e-combobox @dataChange="ShowInfoCustomer($event)"
                                                :control="txtInfoRecipient" v-model="txtInfoRecipient.value" />
                                        </div>
                                        <div class="bodyPopup-item d-flex-vcenter">
                                            <e-text-box :control="txtNumberRecipient"
                                                v-model="txtNumberRecipient.value" />
                                        </div>
                                        <div class="bodyPopup-item d-flex-vcenter">
                                            <e-text-box :control="txtAddressRecipient"
                                                v-model="txtAddressRecipient.value" />
                                        </div>
                                        <div class="bodyPopup-item d-flex-vcenter">
                                            <e-date :control="dtDateDelivery" v-model="dtDateDelivery.value" />
                                        </div>
                                        <div class="bodyPopup-item d-flex-vcenter">
                                            <e-number :control="txtDeliveryCharges"
                                                v-model="txtDeliveryCharges.value" />
                                        </div>
                                    </div>
                                    <div class="body-popup-right flex-1">
                                        <div class="heading-popup-right d-flex-vcenter">
                                            <span>Thông tin giao hàng</span>
                                        </div>
                                        <div class="bodyPopup-item d-flex-vcenter">
                                            <e-combobox :control="txtDeliveryPartner"
                                                v-model="txtDeliveryPartner.value" />
                                        </div>
                                        <div class="bodyPopup-item d-flex-vcenter">
                                            <e-combobox :control="txtDeliveryService"
                                                v-model="txtDeliveryService.value" />
                                        </div>
                                        <div class="bodyPopup-item d-flex-vcenter">
                                            <e-text-box :control="txtLadingCode" v-model="txtLadingCode.value" />
                                        </div>

                                    </div>

                                </div>
                                <div class="btnPopup d-flex">
                                    <div class="item-btnPopup-accept flex-1">
                                        <e-button :control="btnAcceptForm" @click="closePopupDelivery" />
                                    </div>
                                    <div class="item-btnPopup-close flex-1">
                                        <e-button :control="btnCloseForm" @click="closePopupDelivery" />
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="overlay width-fill height-fill" v-if="disableFormShowVoucher"></div>
                        <div class="content-present d-flex-vcenter" @click="ShowVoucher()">
                            <span class="icon-present-content"></span>
                            <span class="icon-arrow-content-present"></span>

                            <div class="PopUpVoucher" v-if="disableFormShowVoucher">
                                <div class="heading-popup-voucher ">
                                    <span>Voucher</span>
                                </div>
                                <div class="bodyPopup-item d-flex-vcenter">
                                    <e-combobox @dataChange="ShowValueVoucher($event)" :control="cbbVoucherItem"
                                        v-model="cbbVoucherItem.value" />
                                </div>
                                <div class="bodyPopup-item d-flex-vcenter">
                                    <e-number @blur="ShowTotalVoucher($event)" :control="numVoucherNumber"
                                        v-model="numVoucherNumber.value" />

                                </div>
                                <div class="bodyPopup-item d-flex-vcenter">
                                    <e-number :control="numVoucherPrice" v-model="numVoucherPrice.value" />

                                </div>
                                <div class="bodyPopup-item d-flex-vcenter">
                                    <e-number :control="numVoucherTotalPrice" v-model="bill.numVoucherTotalPrice" />

                                </div>
                                <div class="btnPopup d-flex">
                                    <div class="item-btnPopup-accept flex-1">
                                        <e-button :control="btnAcceptForm" @click="AcceptFormVoucher" />
                                    </div>
                                    <div class="item-btnPopup-close flex-1">
                                        <e-button :control="btnCloseForm" @click="closePopupVoucher" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="content-transaction flex-1">
                    <div class="info-payment">
                        <div class="info-payment-item d-flex-vcenter">
                            <span class="label-transaction-item flex-1">Tổng tiền</span>
                            <span class="transaction-price">
                                <span>
                                    <!-- <e-number :control="txtAllPayments" v-model="bill.TotalMoneyBill"></e-number> -->
                                    {{ formatCurrency(bill.TotalMoneyBill) }}
                                </span>
                                <!-- <span>{{bill.TotalPurchaseBill}}</span> -->
                            </span>
                        </div>
                        <div class="info-payment-item d-flex-vcenter" v-if="DisableVoucher">
                            <span class="icon-child-voucher" @click="DelVoucher"></span>
                            <span class="label-transaction-item label-sales flex-1">Khuyến mại</span>
                            <span class="transaction-price-sales">
                                <!-- <span>{{numVoucherTotalPrice.value}}</span> -->
                                <span>{{formatCurrency(bill.numVoucherTotalPrice)}}</span>
                            </span>
                        </div>
                        <div class="info-payment-item d-flex-vcenter">
                            <span class="label-transaction-item label-all-price flex-1">Còn phải thu</span>
                            <span class="transaction-all-price">
                                <!-- {{totalBill.collectedMoney}} -->
                                {{formatCurrency(bill.collectedMoney)}}
                            </span>
                        </div>
                    </div>
                    <div class="check-point-price d-flex-vcenter d-flex-sp-center">
                        <div class="check-payments">
                            <e-combobox @dataChange="ShowCodeBank($event, item)" :control="cbbCheckPoint"
                                v-model="cbbCheckPoint.value" />
                        </div>
                        <div class="type-input-payments">
                            <e-number @blur="ShowDeposits" :control="txtPayments" v-model="bill.Payments" />
                        </div>
                    </div>
                    <div class="notice-transaction">
                        <div class="info-payment-item">
                            <div v-if="DisableFormPayment">
                                <span class="label-transaction-item label-all-price flex-1">Tài khoản thu</span>
                                <div class="type-input-notice width-fill">
                                    <div class="d-flex">
                                        <div class="flex-1">
                                            <e-combobox @dataChange="ShowCodeAccount($event)" :control="cbbPayments"
                                                v-model="cbbPayments.value" />
                                        </div>
                                        <div>
                                            <e-text-box :control="txtAccountNumber" v-model="txtAccountNumber.value" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="info-payment-item d-flex-vcenter">
                                <span class="label-transaction-item label-payment flex-1">Trả lại khách</span>
                                <span class="payment-all-price">
                                    {{formatCurrency(bill.refundDetail)}}
                                </span>
                            </div>
                            <div class="type-input-notice">
                                <e-text-box :control="txtNotice" v-model="bill.NoticeBill" />
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-pay d-flex-sp-center d-flex-vcenter">
                    <span>
                        <e-checkbox :control="cbkBill" v-model="cbkBill.value"></e-checkbox>
                    </span>
                    <span>
                        <e-checkbox :control="cbkOrder" v-model="cbkOrder.value"></e-checkbox>
                    </span>
                </div>
            </div>
            <div class="prepare-bill d-flex-vcenter d-flex-sp-center">
                <span class="btn-prepare-item height-fill width-fill">
                    <e-button :control="btnTemporarySave" />
                </span>
                <span class="btn-prepare-item height-fill width-fill">
                    <e-button @click="saveData()" :control=" btnCollectMoney" />
                </span>
            </div>
        </div>
    </div>
</div>