.item-detail {
  margin: 8px 8px;

}

.item-checkbox-detail {
  width: 190px;
  margin: 10px;
}


// .item-detail:first-child {
//   margin-top: 24px;
// }

// .item-detail:last-child{
//   margin-bottom: 24px;
// }