<base-dictionary-detail-view :idRoot="idRoot" :propView="propView" :styleFrom="`width: 800px;`"
  @toolbarClick="onSelectAction" @closeFormClick="onCloseForm">
  <template v-slot:content-detail>
    <div class="d-flex-vcenter">
      <div class="form-detail-left">
        <div class="qlch-input-default item-detail">
          <e-text-box :control="bindingControl[`txtColumn1`]"
            v-model="masterData[bindingControl[`txtColumn1`].bindingIndex]"></e-text-box>
        </div>
        <div class="qlch-input-default item-detail">
          <e-text-box :control="bindingControl[`txtColumn2`]"
            v-model="masterData[bindingControl[`txtColumn2`].bindingIndex]"></e-text-box>
        </div>

        <div class="qlch-input-default item-detail">
          <e-combobox :control="bindingControl[`txtColumn3`]"
            v-model="masterData[bindingControl[`txtColumn3`].bindingIndex]"></e-combobox>
        </div>
        <div class="qlch-input-default item-detail">
          <e-combobox :control="bindingControl[`txtColumn4`]"
            v-model="masterData[bindingControl[`txtColumn4`].bindingIndex]"></e-combobox>
        </div>
        <div class="qlch-input-default item-detail">
          <e-number :control="bindingControl[`txtColumn5`]"
            v-model="masterData[bindingControl[`txtColumn5`].bindingIndex]"></e-number>
        </div>
      </div>
      <div class="form-detail-right d-flex-column d-flex-vcenter">
        <div class="qlch-input-default item-detail">
          <e-checkbox :control="bindingControl[`txtColumn6`]"
            v-model="masterData[bindingControl[`txtColumn6`].bindingIndex]"></e-checkbox>
        </div>
      </div>
    </div>

    <!-- <div class="qlch-input-default item-detail">
      <e-text-box :control="bindingControl[`txtColumn7`]"
        v-model="masterData[bindingControl[`txtColumn7`].bindingIndex]"></e-text-box>
    </div> -->
    <h3>Thông tin thuộc tính</h3>
    <div class="d-flex-column">
      <div class="qlch-input-default item-detail">
        <e-text-box :control="bindingControl[`txtColumn7`]"
          v-model="masterData[bindingControl[`txtColumn7`].bindingIndex]"></e-text-box>
      </div>
      <div class="qlch-input-default item-detail">
        <e-text-box :control="bindingControl[`txtColumn7`]"
          v-model="masterData[bindingControl[`txtColumn7`].bindingIndex]"></e-text-box>
      </div>
    </div>

  </template>
</base-dictionary-detail-view>