<e-popup styleFrom="width:350px; min-height: 100px" :idRoot="idRoot">
    <template v-slot:title>
        <span class="width-fill">Hóa đơn đang xử lý</span>
    </template>
    <template v-slot:window-button>
        <div class="icon height-fill d-flex-vcenter" @click="onCloseClick">
            <div class="i-close"></div>
        </div>
    </template>
    <template v-slot:content-detail>
        <div class="header-popup  d-flex-vcenter">
            <span class="flex-1">Tổng</span>
            <span>250.000.00</span>
        </div>
        <div class="content-popup d-flex-vcenter">
            <span class="flex-1">Chờ thanh toán</span>
            <span>250.000.00</span>
        </div>
        <div class="content-popup d-flex-vcenter">
            <span class="flex-1">Chờ giao/Lấy hàng</span>
            <span>0</span>
        </div>
        <div class="content-popup d-flex-vcenter">
            <span class="flex-1">Đang giao tạm</span>
            <span>0</span>
        </div>
        <div class="content-popup d-flex-vcenter">
            <span class="flex-1">Lưu tạm</span>
            <span>0</span>
        </div>

    </template>
    <template v-slot:form-button>
        <div></div>
    </template>

</e-popup>