<div class="heading-sales d-flex-center">
  <h1>BẢNG KÊ HÓA ĐƠN VÀ ĐƠN HÀNG</h1>
</div>
<div class="content-data-sales d-flex-vcenter">
  <div class=" flex-1 d-flex-vcenter ">
    <div class="ccb-item-data-sales">
      <e-combobox :control="cbbSales" v-model="cbbSales.value" />
    </div>
    <div class="item-data-sales">
      <e-date :control="dtBeginRequire" v-model="dtBeginRequire.value" />
    </div>
    <div class="item-data-sales">
      <e-date :control="dtEndRequire" v-model="dtEndRequire.value" />
    </div>
    <div class="btn-item-data-sales">
      <e-button :control="btnGetData" />
    </div>
  </div>
  <div class="d-flex-vcenter">
    <div class="btn-item-data-sales">
      <e-button :control="btnPrintData" />
    </div>
    <div class="btn-item-data-sales">
      <e-button :control="btnExportData" />
    </div>
  </div>
</div>
<div class="height-fill width-fill">
  <base-dictionary-list-view :viewControl="viewControl" @loadMaster="onLoadMaster"
    @changeSelectedRecordMaster="onChangeSelectedRecordMaster"
    @toolbarClick="onSelectAction"></base-dictionary-list-view>
</div>