<div class="heading-sales d-flex-center">
  <h1>BẢNG KÊ HÓA ĐƠN VÀ ĐƠN HÀNG</h1>
</div>
<div class="content-data-sales d-flex-vcenter">
  <div class=" flex-1 d-flex-vcenter ">
    <div class="ccb-item-data-sales">
      <e-combobox :control="cbbSales" v-model="cbbSales.value" />
    </div>
    <div class="item-data-sales">
      <e-date :control="dtBeginRequire" v-model="dtBeginRequire.value" />
    </div>
    <div class="item-data-sales">
      <e-date :control="dtEndRequire" v-model="dtEndRequire.value" />
    </div>
    <div class="btn-item-data-sales">
      <e-button :control="btnGetData" @click="GetDataSales" />
    </div>
  </div>
  <div class="d-flex-vcenter">
    <div class="btn-item-data-sales">
      <e-button :control="btnPrintData" />
    </div>
    <div class="btn-item-data-sales">
      <e-button :control="btnExportData" />
    </div>
  </div>
</div>
<div class="height-fill width-fill">
  <!-- <base-dictionary-list-view :viewControl="viewControl" @loadMaster="onLoadMaster"
    @changeSelectedRecordMaster="onChangeSelectedRecordMaster"
    @toolbarClick="onSelectAction"></base-dictionary-list-view> -->

  <div class="form-sales height-fill">
    <div class="table-list">
      <table class="flex-1">
        <thead>
          <tr>
            <th>Thời Gian Tạo Hóa Đơn</th>
            <th>Số Hóa Đơn</th>
            <th>Tổng (3) = (1) - (2)</th>
            <th>Tiền Hàng (1)</th>
            <th>Khuyến Mại (2)</th>
            <th>Nhân Viên Bán Hàng</th>
            <th>Ghi Chú</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr v-if="lstBill?.length > 0" v-for="item in lstBill" :key="item.BillId">
            <td>
              {{item.DateBill}}
            </td>
            <td @click="ShowBill(item)" style="color: #7C6CE6; text-decoration: underline; cursor: pointer;">
              {{item.NumberBill}}
            </td>
            <td>
              {{formatCurrency(item.collectedMoney)}}
            </td>
            <td>
              {{formatCurrency(item.TotalMoneyBill)}}
            </td>
            <td>
              {{formatCurrency(item.numVoucherTotalPrice)}}
            </td>
            <td>
              {{item.SalesAgent}}
            </td>
            <td>
              {{item.NoticeBill}}
            </td>
            <td>
              <e-button :control="btnDelListTable" @click="DelListTable(item)" />
            </td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <!-- <td><strong>Tổng: {{itemBill.TotalSalesBill}}</strong></td> -->
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>