.heading-sales {
    height: 50px;
    border-bottom: 1px solid #F0F0F0;
}

.heading-sales h1 {
    font-size: 20px;
    color: #2b3173;
    font-weight: 300;
}

.content-data-sales {
    height: 50px;

}

.item-data-sales {
    width: 150px;
    z-index: 999;
    margin: 0 10px;
}