<label v-if="control" class="qlch-numberfield height-fill width-fill" :class="[
                {'d-flex':control.boxType!='vbox'},
                {'d-flex-column':control.boxType=='vbox'},
                control.classParent
            ]">
    <div v-if="control.fieldText && !control.isLoadingData" class="txt-label d-flex-vcenter"
        :style="`width:`+control.labelWidth+`px`" :class=[control.classLabel]> <!--Label-->
        <slot name="labelTextBox">
            <span>{{control.fieldText}}</span>
            <span v-if="control.require" class="txt-require">*</span>
        </slot>
    </div>
    <div class="body-input d-flex" :class="{'flex-1':control.boxType=='hbox'}" v-if="!control.isLoadingData"
        :id="control.id+`-parent`">
        <slot name="trigger-left"></slot>
        <input type="text" class="qlch-num flex-1" :id="control.id" :disabled="control.readOnly"
            :style="control.styleInput" :value="thisData.formatValue" :placeholder="control.placeholder"
            :class="[control.classType,{'warning-valid': !control.isValidateSuccess && control.isActive}]"
            :maxlength="control.maxLength" @input.stop="onInput" @blur.stop="onBlur" @focus.stop="onFocus"
            @mouseover.stop="onHover" @keydown.stop="onKeyDown" autocomplete="off">

        <div v-if="!control.isValidateSuccess && control.isActive"
            class="warning-valid height-fill d-flex d-flex-vcenter pss-rel">
            <div :id="control.idWarning" class="i-warning" @mouseover.stop="onHoverWarning"></div>
            <span v-if="!control.isValidateSuccess && control.isActive" class="bg-warning" :style="control.styleWarning"
                :id="control.idWarningInformation">{{control.contentWarning}}</span>
        </div>

        <slot name="trigger-right"></slot>
    </div>

    <!--Loading-->
    <div v-if="control.fieldText && control.isLoadingData" class="txt-label d-flex-vcenter lbl-loading"
        :class="[control.classLabel]"> <!--Label-->
        <div class="skeleton-loading width-fill display-text">
        </div>
    </div>
    <div class="body-input d-flex skeleton-loading" :class="{'flex-1':control.boxType=='hbox'}"
        v-if="control.isLoadingData">
    </div>
</label>