<e-popup styleFrom="width:1000px; min-height:500px" :idRoot="idRoot">
    <template v-slot:title>
        <span class="width-fill">Chi Tiết Hóa Đơn</span>
    </template>
    <template v-slot:window-button>
        <div class="icon height-fill d-flex-vcenter" @click="onCloseClick">
            <div class="i-close"></div>
        </div>
    </template>
    <template v-slot:content-detail>
        <div class="body-popup">
            <div class="header-popup d-flex-vcenter">
                <span class="heading-popup flex-1">Hóa Đơn Thanh Toán</span>
            </div>
            <div class="info-bill d-flex">
                <div class="d-flex-column flex-1">
                    <div>
                        <span class="item-info-bill">Số: </span>
                        <span>{{itemBill.NumberBill}}</span>
                    </div>
                    <div>
                        <span class="item-info-bill">Nhân Viên Bán Hàng: </span>
                        <span>{{itemBill.SalesAgent}}</span>
                    </div>
                    <div>
                        <span class="item-info-bill">Khách Hàng: </span>
                        <span>{{itemBill.CustomerName}}</span>
                    </div>
                    <div>
                        <span class="item-info-bill">Ghi chú: </span>
                        <span>{{itemBill.NoticeBill}}</span>
                    </div>
                </div>
                <div class="d-flex-column flex-1">
                    <div>
                        <span class="item-info-bill">Thời gian thanh toán: </span>
                        <span>{{itemBill.DateBill}}</span>
                    </div>
                    <span>
                        <span class="item-info-bill">Kênh Bán Hàng: </span>
                        <span>Tại Cửa Hàng</span>
                    </span>
                </div>
            </div>
            <div class="table-bill">
                <table>
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Mã HH</th>
                            <th>Tên Hàng Hóa</th>
                            <th>Đơn Vị Tính</th>
                            <th>Số Lượng</th>
                            <th>Đơn Giá</th>
                            <th>Thành Tiền</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr v-if="lstBillDetail?.length > 0" v-for="(item,index) in lstBillDetail"
                            :key="item.BillDetailId">
                            <td>{{0 + index+1}}</td>
                            <td>{{item.CodeProductBill}}</td>
                            <td>{{item.NameProductBill}}</td>
                            <td>{{item.UnitProductBill}}</td>
                            <td>{{item.QuantityBill}}</td>
                            <td>{{formatCurrency(item.UnitPriceBill)}}</td>
                            <td>{{formatCurrency(item.IntoMoneyBill)}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="footer-popup d-flex">
                <div class="item-footer flex-1">
                    <div>
                        <span class="item-info-bill">Tổng Thanh Toán: </span>
                        <span>{{formatCurrency(itemBill.collectedMoney)}}</span>
                    </div>
                    <div>
                        <span class="item-info-bill">Tiền Hàng: </span>
                        <span>{{formatCurrency(itemBill.TotalMoneyBill)}}</span>
                    </div>
                    <div>
                        <span class="item-info-bill">Tiền Khuyến Mại: </span>
                        <span>{{formatCurrency(itemBill.numVoucherTotalPrice)}}</span>
                    </div>
                </div>
                <div class="item-footer flex-1">
                    <div>
                        <span class="item-info-bill">Khách Trả: </span>
                        <span>{{formatCurrency(itemBill.Payments)}}</span>
                    </div>
                    <div>
                        <span class="item-info-bill">Trả Lại Khách: </span>
                        <span>{{formatCurrency(itemBill.refundDetail)}}</span>
                    </div>
                </div>
            </div>
        </div>


    </template>
    <template v-slot:form-button>
        <div></div>
    </template>

</e-popup>