<div class="left-sidebar scroll-auto height-fill">
    <div class="d-flex-column width-fill height-fill">
        <div class="log">
            <img class="width-fill" src="https://misast.mshopkeeper.vn/Logo_Full_White.png" alt="">
        </div>
        <div class=" content flex-1" v-if="pages && pages.length">
            <div v-for="item in pages" :key="item.routerLink" class="item-route width-fill">
                <div class="menulinkitem d-flex-vcenter height-fill" @click="routerClick(item)">
                    <span>{{item.fieldText}}</span>
                </div>



            </div>
        </div>
        <div class="foot">
            <div class="item-route width-fill">
                <a href="#" class="menulinkitem d-flex-vcenter height-fill">
                    Thu gọn
                </a>
            </div>
        </div>
    </div>
</div>
<div class="main-revenue-right" v-if="MenuChildren && MenuChildren.length">
    <div v-for="item in MenuChildren" :key="item.routerLink" class="item-route width-fill">
        <div class="menulinkitem d-flex-vcenter height-fill" @click="routerClick(item)">
            <span>{{item.fieldText}}</span>
        </div>



    </div>
</div>