.item-detail {
  margin-bottom: 8px;
}

.item-detail:first-child {
  margin-top: 24px;
}

.item-detail:last-child {
  margin-bottom: 24px;
}

.qlch-input-default {
  margin-right: 20px;
}

.date-voucher {
  height: 80px;
}