<base-dictionary-detail-view :idRoot="idRoot" :propView="propView" :styleFrom="`min-width: 800px;`"
  @toolbarClick="onSelectAction" @closeFormClick="onCloseForm">
  <template v-slot:content-detail>
    <div class="heading-top d-flex width-fill">
      <div class="menu-detail-item d-flex-vcenter" @click="ShowTaskInfo()">
        <span>Thông tin cơ bản</span>
      </div>
      <div class="menu-detail-item d-flex-vcenter" @click="ShowTaskRole()">
        <span>Vai trò</span>
      </div>
      <div class="menu-detail-item d-flex-vcenter" @click="contactInfo()">
        <span>Thông tin liên hệ</span>
      </div>
      <div class="menu-detail-item d-flex-vcenter">
        <span>Thông tin hồ sơ</span>
      </div>
      <div class="menu-detail-item d-flex-vcenter" @click="accessTime()">
        <span>Thời gian truy cập</span>
      </div>
    </div>
    <div class="pageInfo" v-if="disabledFormInfo">
      <div class="d-flex">
        <div class="form-employee-detail-left flex-1">
          <div class="qlch-input-default item-detail">
            <e-text-box :control="bindingControl[`txtCodeEmployee`]"
              v-model="masterData[bindingControl[`txtCodeEmployee`].bindingIndex]"></e-text-box>
          </div>
          <div class="qlch-input-default item-detail">
            <e-text-box :control="bindingControl[`txtNameEmployee`]"
              v-model="masterData[bindingControl[`txtNameEmployee`].bindingIndex]"></e-text-box>
          </div>
          <div class="qlch-input-default item-detail">
            <e-combobox :control="bindingControl[`txtGenderEmployee`]"
              v-model="masterData[bindingControl[`txtGenderEmployee`].bindingIndex]"></e-combobox>
          </div>
          <div class="qlch-input-default item-detail">
            <e-date :control="bindingControl[`txtBirthEmployee`]"
              v-model="masterData[bindingControl[`txtBirthEmployee`].bindingIndex]"></e-date>
          </div>
          <div class="qlch-input-default item-detail">
            <e-combobox :control="bindingControl[`txtMaritalEmployee`]"
              v-model="masterData[bindingControl[`txtMaritalEmployee`].bindingIndex]"></e-combobox>
          </div>
          <div class="qlch-input-default item-detail" v-if="disablePassWord">
            <e-text-box :control="bindingControl[`txtPasswordEmployee`]"
              v-model="masterData[bindingControl[`txtPasswordEmployee`].bindingIndex]">
              <template v-slot:trigger-left>
                <div class="i-lock icon-left-input pss-abs"></div>
              </template>
            </e-text-box>
          </div>
        </div>
        <div class="form-employee-detail-right flex-1">
          <div class="qlch-input-default item-detail">
            <e-text-box :control="bindingControl[`txtIdCardEmployee`]"
              v-model="masterData[bindingControl[`txtIdCardEmployee`].bindingIndex]"></e-text-box>
          </div>
          <div class="qlch-input-default item-detail">
            <e-date :control="bindingControl[`txtDateCardEmployee`]"
              v-model="masterData[bindingControl[`txtDateCardEmployee`].bindingIndex]"></e-date>
          </div>
          <div class="qlch-input-default item-detail">
            <e-text-box :control="bindingControl[`txtAddressCardEmployee`]"
              v-model="masterData[bindingControl[`txtAddressCardEmployee`].bindingIndex]"></e-text-box>
          </div>
          <div class="qlch-input-default item-detail">
            <e-text-box :control="bindingControl[`txtTelephoneEmployee`]"
              v-model="masterData[bindingControl[`txtTelephoneEmployee`].bindingIndex]"></e-text-box>
          </div>
          <div class="qlch-input-default item-detail">
            <e-combobox :control="bindingControl[`txtStatusEmployee`]"
              v-model="masterData[bindingControl[`txtStatusEmployee`].bindingIndex]"></e-combobox>
          </div>
          <div class="qlch-input-default item-detail" v-if="disablePassWord">
            <e-text-box :control="bindingControl[`txtConfirmPasswordEmployee`]"
              v-model="masterData[bindingControl[`txtConfirmPasswordEmployee`].bindingIndex]"></e-text-box>
          </div>
        </div>

      </div>
      <div class="qlch-input-default item-checkbox-employee-detail">
        <e-checkbox :control="bindingControl[`txtWorkWithSystem`]" @click="onClickCheckPass()"
          v-model="masterData[bindingControl[`txtWorkWithSystem`].bindingIndex]"></e-checkbox>
      </div>
    </div>
    <div class="role" v-if="disabledFormRole">

      <!-- <div class="d-flex d-flex-sp-center">
        <div class="qlch-input-default item-checkbox-role-detail" @click="onClickRole">
          <e-checkbox :control="bindingControl[`txtSystemAdministrator`]"
            v-model="masterData[bindingControl[`txtSystemAdministrator`].bindingIndex]"></e-checkbox>
        </div>
        <div class="qlch-input-default item-checkbox-role-detail" @click="onClickRole">
          <e-checkbox :control="bindingControl[`txtSystemSales`]"
            v-model="masterData[bindingControl[`txtSystemSales`].bindingIndex]"></e-checkbox>
        </div>
      </div> -->
      <div class="qlch-input-default item-detail" v-if="disableECombobox">
        <e-combobox :control="bindingControl[`txtUsageSystem`]"
          v-model="masterData[bindingControl[`txtUsageSystem`].bindingIndex]"></e-combobox>
      </div>
    </div>
    <div class="contact-info" v-if="disabledFormContactInfo">
      <div class="qlch-input-default item-detail">
        <e-text-box :control="bindingControl[`txtHomePhone`]"
          v-model="masterData[bindingControl[`txtHomePhone`].bindingIndex]"></e-text-box>
      </div>
      <span class="heading-contact-info d-flex">HỘ KHẨU THƯỜNG TRÚ</span>
      <div class="qlch-input-default item-detail">
        <e-text-box :control="bindingControl[`txtAddressHome`]"
          v-model="masterData[bindingControl[`txtAddressHome`].bindingIndex]"></e-text-box>
      </div>
      <div class="d-flex">
        <div class="form-contact-info-left">
          <div class="qlch-input-default item-detail">
            <e-text-box :control="bindingControl[`txtNationEmployee`]"
              v-model="masterData[bindingControl[`txtNationEmployee`].bindingIndex]"></e-text-box>
          </div>
          <div class="qlch-input-default item-detail">
            <e-text-box :control="bindingControl[`txtDistrictEmployee`]"
              v-model="masterData[bindingControl[`txtDistrictEmployee`].bindingIndex]"></e-text-box>
          </div>
        </div>
        <div class="form-contact-info-right">
          <div class="qlch-input-default item-detail">
            <e-text-box :control="bindingControl[`txtProvinceEmployee`]"
              v-model="masterData[bindingControl[`txtProvinceEmployee`].bindingIndex]"></e-text-box>
          </div>
          <div class="qlch-input-default item-detail">
            <e-text-box :control="bindingControl[`txtWardsEmployee`]"
              v-model="masterData[bindingControl[`txtWardsEmployee`].bindingIndex]"></e-text-box>
          </div>
        </div>
      </div>
      <span class="heading-contact-info d-flex">CHỖ Ở HIỆN TẠI</span>
      <div class="qlch-input-default item-detail">
        <e-text-box :control="bindingControl[`txtAddressPresent`]"
          v-model="masterData[bindingControl[`txtAddressPresent`].bindingIndex]"></e-text-box>
      </div>
      <div class="d-flex">
        <div class="form-contact-info-left">
          <div class="qlch-input-default item-detail">
            <e-text-box :control="bindingControl[`txtNationPresent`]"
              v-model="masterData[bindingControl[`txtNationPresent`].bindingIndex]"></e-text-box>
          </div>
          <div class="qlch-input-default item-detail">
            <e-text-box :control="bindingControl[`txtDistrictPresent`]"
              v-model="masterData[bindingControl[`txtDistrictPresent`].bindingIndex]"></e-text-box>
          </div>
        </div>
        <div class="form-contact-info-right">
          <div class="qlch-input-default item-detail">
            <e-text-box :control="bindingControl[`txtProvincePresent`]"
              v-model="masterData[bindingControl[`txtProvincePresent`].bindingIndex]"></e-text-box>
          </div>
          <div class="qlch-input-default item-detail">
            <e-text-box :control="bindingControl[`txtWardsPresent`]"
              v-model="masterData[bindingControl[`txtWardsPresent`].bindingIndex]"></e-text-box>
          </div>
        </div>
      </div>
      <span class="heading-contact-info d-flex">LIÊN HỆ KHẨN CẤP</span>
      <div class="d-flex">
        <div class="form-contact-info-left">
          <div class="qlch-input-default item-detail">
            <e-text-box :control="bindingControl[`txtEmergencyEmployee`]"
              v-model="masterData[bindingControl[`txtEmergencyEmployee`].bindingIndex]"></e-text-box>
          </div>
          <div class="qlch-input-default item-detail">
            <e-text-box :control="bindingControl[`txtRelationshipEmployee`]"
              v-model="masterData[bindingControl[`txtRelationshipEmployee`].bindingIndex]"></e-text-box>
          </div>
        </div>
        <div class="form-contact-info-right">
          <div class="qlch-input-default item-detail">
            <e-text-box :control="bindingControl[`txtPhoneEmergency`]"
              v-model="masterData[bindingControl[`txtPhoneEmergency`].bindingIndex]"></e-text-box>
          </div>
          <div class="qlch-input-default item-detail">
            <e-text-box :control="bindingControl[`txtLandlinePhone`]"
              v-model="masterData[bindingControl[`txtLandlinePhone`].bindingIndex]"></e-text-box>
          </div>
        </div>
      </div>
      <div class="qlch-input-default item-detail">
        <e-text-box :control="bindingControl[`txtEmailHome`]"
          v-model="masterData[bindingControl[`txtEmailHome`].bindingIndex]"></e-text-box>
      </div>
      <div class="qlch-input-default item-detail">
        <e-text-box :control="bindingControl[`txtAddressEmergency`]"
          v-model="masterData[bindingControl[`txtAddressEmergency`].bindingIndex]"></e-text-box>
      </div>
    </div>
    <div class="access-time" v-if="disabledFormAccessTime">
      <div class="d-flex d-flex-sp-center">
        <div class="qlch-input-default item-detail item-checkbox-detail">
          <e-checkbox :control="bindingControl[`txtColumn34`]"
            v-model="masterData[bindingControl[`txtColumn34`].bindingIndex]"></e-checkbox>
        </div>
        <div class="qlch-input-default item-detail item-checkbox-detail">
          <e-checkbox :control="bindingControl[`txtColumn35`]"
            v-model="masterData[bindingControl[`txtColumn35`].bindingIndex]"></e-checkbox>
        </div>
      </div>
      <div class="access-time-form">
      </div>
    </div>
  </template>
</base-dictionary-detail-view>