.item-detail {
  margin-bottom: 8px;
}

.item-detail:first-child {
  margin-top: 24px;
}

.item-detail:last-child {
  margin-bottom: 30px;
}


.menu-detail-item {
  padding: 5px 10px;
  font-weight: 600;
  color: #737373;
  border: 1px solid #E1E1E1;
}

.menu-detail-item:hover {

  color: #2B3173;
  cursor: pointer;
}

.form-employee-detail-left {
  margin-right: auto;
}

.icon-left-input {
  top: calc((100% - 16px) / 2);
  left: 8px;

}